<app-timetable-edit-form-p
    [serviceId]="serviceId()"
    [calendarId]="calendarId()"
    [calendar]="calendar()"
    [mode]="mode()"
    [tripDirection]="tripDirection()"
    [stations]="stations()"
    [operations]="operations()"
    [tripClasses]="tripClasses()"
    [trips]="trips()"
    [lastSubmittedAt]="lastSubmittedAt()"
    (clickSubmit)="onReceiveClickSubmit($event)"
    (toggleIsSaveTripsIndividually)="
        onReceiveToggleIsSaveTripsIndividually($event)
    "
></app-timetable-edit-form-p>
