<mat-card fxLayout="column" fxFlex="auto">
    <mat-card-title> 列車を追加 </mat-card-title>
    <mat-card-subtitle>列車データを追加できます。</mat-card-subtitle>
    <mat-card-content fxFlex="auto">
        <form fxLayout="column" fxLayoutGap="16px" [formGroup]="form">
            <mat-form-field fxFlex="auto">
                <mat-select placeholder="ダイヤ" formControlName="calendarId">
                    <mat-option
                        *ngFor="let calendar of calendars$ | async"
                        [value]="calendar.calendarId"
                    >
                        {{
                            calendar.startDate
                                | dayjs: { format: 'YYYY年MM月DD日改正 ' }
                        }}{{ calendar.calendarName }}</mat-option
                    >
                </mat-select>
                <mat-error *ngIf="form.get('calendarId')">
                    <strong>必須項目</strong>です
                </mat-error>
            </mat-form-field>
            <mat-radio-group
                fxLayout="row"
                fxLayoutGap="16px"
                formControlName="tripDirection"
            >
                <mat-radio-button value="0">上り</mat-radio-button>
                <mat-radio-button value="1">下り</mat-radio-button>
            </mat-radio-group>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="onClickedMoveTimetableAdd$.next()"
        >
            列車情報入力へ移る
        </button>
    </mat-card-actions>
</mat-card>
