<mat-nav-list>
  <mat-list-item>TOP</mat-list-item>
  <h3 matSubheader>時刻表</h3>
  <mat-form-field class="px-16">
    <mat-select placeholder="駅名">
      <mat-option [value]="null">
        選択しない（全線検索）
      </mat-option>
      <mat-optgroup
        *ngFor="let route of stationsSelectList"
        [label]="route.routeName"
      >
        <mat-option
          *ngFor="let station of route.stations"
          [value]="station.value"
          >{{ station.label }}</mat-option
        >
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <mat-list-item>
    <a matLine routerLink="/">上り</a>
  </mat-list-item>
  <mat-list-item>下り</mat-list-item>
  <h3 matSubheader>運用情報</h3>
  <mat-list-item>ﾘｱﾙﾀｲﾑ運用情報</mat-list-item>
  <mat-list-item>運用表</mat-list-item>
</mat-nav-list>
