<div class="operation-table-small-box-container">
  <section
    class="operation-number"
    fxLayout="row"
    fxLayoutAlign="center center"
    [ngStyle]="{
      'background-color': color
    }"
  >
    <h3 class="mat-h3">
      <a
        [routerLink]="[
          '/operation/route-diagram',
          {
            id: operation.id
          }
        ]"
        >{{ operation.operation_number }}</a
      >
    </h3>
  </section>
  <section *ngFor="let str of tripString; let i = index; trackBy: trackByItem">
    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="str.tripId">
      <div fxLayout="row" fxLayoutAlign="start center">
        <span>{{ str.downSideMark }}</span>

        <span fxFlex="4em">{{ str.downSideStation }}</span>
        <span fxFlex="2.375em" style="text-align: center">{{
          str.downSideTime
        }}</span>
      </div>
      <span [ngStyle]="{ color: str.tripColor }">{{ str.downSideArrow }}</span>
      <a
        [routerLink]="[
          '/timetable/all-line',
          {
            dia: dia,
            direction: str.tripDirection,
            trip: str.tripId
          }
        ]"
        [ngStyle]="{ color: str.tripColor }"
        >{{ str.tripClass }}{{ str.tripNumber }}</a
      >
      <span [ngStyle]="{ color: str.tripColor }">{{ str.upSideArrow }}</span>
      <div fxLayout="row" fxLayoutAlign="start center">
        <span fxFlex="2.375em" style="text-align: center">
          {{ str.upSideTime }}
        </span>

        <span fxFlex="4em" style="text-align: right">
          {{ str.upSideStation }}
        </span>
        <span>{{ str.upSideMark }}</span>
      </div>
    </div>
    <div *ngIf="!str.tripId">
      <span>{{ str.line }}</span>
    </div>
  </section>
</div>
