<app-timetable-all-line-table-p
    [calendar]="calendar$ | async"
    [tripDirection]="tripDirection$ | async"
    [stations]="stations$ | async"
    [trips]="trips$ | async"
    [pageSettings]="pageSettings$ | async"
    (page)="onPaged$.next($event)"
    (clickEditButton)="onClickedEditButton$.next($event)"
    (clickCopyButton)="onClickedCopyButton$.next($event)"
    (clickDeleteButton)="onClickedDeleteButton$.next($event)"
    (clickAddTripInGroup)="onClickedAddTripInGroup$.next($event)"
    (clickDeleteTripInGroup)="onClickedDeleteTripInGroup$.next($event)"
></app-timetable-all-line-table-p>
