@if (filteredOperations().length === 0) {
    <app-empty-state
        icon="filter_alt_off"
        message="条件に一致する運用がありません"
    ></app-empty-state>
} @else {
    <div class="tw-grid tw-grid-cols-1 tw-gap-3 lg:tw-grid-cols-2">
        @for (
            operation of filteredOperations();
            track operation.operationId
        ) {
            <app-operation-real-time-operation-card
                [operation]="operation"
                [timeCrossSection]="
                    queryTimeCrossSectionByOperationNumber(
                        operation.operationNumber
                    )()
                "
                [histories]="
                    queryHistoriesByOperationNumber(
                        operation.operationNumber
                    )()
                "
                [currentPosition]="
                    queryCurrentPositionByOperationNumber(
                        operation.operationNumber
                    )()
                "
                [formations]="formations() ?? []"
                [agencies]="agencies()"
                [stations]="stations() ?? []"
                [tripClasses]="tripClasses() ?? []"
                [calendarId]="calendar()?.calendarId"
                [isVisibleSightingHistories]="isVisibleSightingHistories()"
                [isVisibleCurrentPosition]="isVisibleCurrentPosition()"
            ></app-operation-real-time-operation-card>
        }
    </div>
}
