<mat-card>
    <mat-card-title>
        <mat-toolbar
            [ngClass]="[
                calendar.sunday && calendar.saturday ? 'holiday' : 'weekday'
            ]"
        >
            <h3>
                {{ calendar.startDate | date: 'yyyy年MM月dd日' }}
                改正
                {{ calendar.calendarName }}
            </h3>
        </mat-toolbar>
    </mat-card-title>
    <mat-card-content>
        <div
            fxLayout="row wrap"
            fxLayoutAlign="center start"
            style="overflow-x: visible"
        >
            <ng-container *ngFor="let operationTrip of operationTrips">
                <ng-container
                    *ngTemplateOutlet="
                        container;
                        context: { operationTrip: operationTrip }
                    "
                ></ng-container>
            </ng-container>
            <div
                *ngFor="let operationTrip of operationTrips"
                class="mx-12 blank"
            ></div>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #container let-operationTrip="operationTrip">
    <section class="mx-12">
        <header>
            <h4
                class="py-8"
                [ngStyle]="{
                    background: getOperationNumberColor(
                        operationTrip.operationNumber
                    )
                }"
            >
                <a
                    [routerLink]="[
                        '/operation/route-diagram',
                        { operation_id: operationTrip.id }
                    ]"
                >
                    {{ operationTrip.operationNumber }}
                </a>
            </h4>
        </header>
        <div role="main">
            <ng-container
                *ngFor="
                    let tripOperationList of operationTrip.tripOperationLists;
                    let i = index
                "
            >
                <div fxLayout="row" class="row">
                    <ng-container
                        *ngIf="tripOperationList.trip.tripDirection === 0"
                    >
                        <span
                            class="kigou"
                            *ngIf="tripOperationList.trip.depotOut"
                            >◯</span
                        >
                        <span
                            class="kigou"
                            *ngIf="!tripOperationList.trip.depotOut"
                            >┗</span
                        >
                    </ng-container>

                    <ng-container
                        *ngIf="tripOperationList.trip.tripDirection === 1"
                    >
                        <span
                            class="kigou"
                            *ngIf="tripOperationList.trip.depotIn"
                            >△</span
                        >
                        <span
                            class="kigou"
                            *ngIf="!tripOperationList.trip.depotIn"
                            >┏</span
                        >
                    </ng-container>

                    <ng-container
                        *ngIf="tripOperationList.trip.tripDirection === 0"
                    >
                        <span class="station-name">
                            {{
                                findStationName(
                                    tripOperationList.startTime.stationId
                                )
                            }}
                        </span>
                        <span class="monoscape">
                            <ng-container
                                *ngIf="
                                    tripOperationList.startTime.departureTime
                                "
                            >
                                {{
                                    convertTimeToDateObject(
                                        tripOperationList.startTime
                                            .departureTime
                                    ) | date: 'HHmm'
                                }}
                            </ng-container>
                            <ng-container
                                *ngIf="
                                    !tripOperationList.startTime.departureTime
                                "
                            >
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </ng-container>
                        </span>
                        <span>→</span>
                    </ng-container>
                    <ng-container
                        *ngIf="tripOperationList.trip.tripDirection === 1"
                    >
                        <span class="station-name">
                            {{
                                findStationName(
                                    tripOperationList.endTime.stationId
                                )
                            }}
                        </span>
                        <span class="monoscape">
                            <ng-container
                                *ngIf="tripOperationList.endTime.arrivalTime"
                            >
                                {{
                                    convertTimeToDateObject(
                                        tripOperationList.endTime.arrivalTime
                                    ) | date: 'HHmm'
                                }}
                            </ng-container>
                            <ng-container
                                *ngIf="!tripOperationList.endTime.arrivalTime"
                            >
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </ng-container>
                        </span>
                        <span>←</span>
                    </ng-container>

                    <div class="trip-class">
                        <a
                            [routerLink]="[
                                '/',
                                'timetable',
                                calendar.id,
                                'all-line',
                                {
                                    trip_direction:
                                        tripOperationList.trip.tripDirection,
                                    trip_block_id:
                                        tripOperationList.trip.tripBlockId
                                }
                            ]"
                        >
                            <span
                                class="trip-class-name"
                                [ngStyle]="{
                                    color: findTripClassColor(
                                        tripOperationList.trip.tripClassId
                                    )
                                }"
                                >{{
                                    findTripClassName(
                                        tripOperationList.trip.tripClassId
                                    )
                                }}</span
                            >
                            <span
                                class="monoscape"
                                [ngStyle]="{
                                    color: findTripClassColor(
                                        tripOperationList.trip.tripClassId
                                    )
                                }"
                                >{{ tripOperationList.trip.tripNumber }}</span
                            >
                        </a>
                    </div>

                    <ng-container
                        *ngIf="tripOperationList.trip.tripDirection === 0"
                    >
                        <span>→</span>
                        <span class="monoscape">
                            <ng-container
                                *ngIf="tripOperationList.endTime.arrivalTime"
                            >
                                {{
                                    convertTimeToDateObject(
                                        tripOperationList.endTime.arrivalTime
                                    ) | date: 'HHmm'
                                }}
                            </ng-container>
                            <ng-container
                                *ngIf="!tripOperationList.endTime.arrivalTime"
                            >
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </ng-container>
                        </span>
                        <span class="station-name">
                            {{
                                findStationName(
                                    tripOperationList.endTime.stationId
                                )
                            }}
                        </span>
                    </ng-container>
                    <ng-container
                        *ngIf="tripOperationList.trip.tripDirection === 1"
                    >
                        <span>←</span>
                        <span class="monoscape">
                            <ng-container
                                *ngIf="
                                    tripOperationList.startTime.departureTime
                                "
                            >
                                {{
                                    convertTimeToDateObject(
                                        tripOperationList.startTime
                                            .departureTime
                                    ) | date: 'HHmm'
                                }}
                            </ng-container>
                            <ng-container
                                *ngIf="
                                    !tripOperationList.startTime.departureTime
                                "
                            >
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </ng-container>
                        </span>
                        <span class="station-name">
                            {{
                                findStationName(
                                    tripOperationList.startTime.stationId
                                )
                            }}
                        </span>
                    </ng-container>

                    <ng-container
                        *ngIf="tripOperationList.trip.tripDirection === 0"
                    >
                        <span
                            class="kigou"
                            *ngIf="tripOperationList.trip.depotIn"
                            >△</span
                        >
                        <span
                            class="kigou"
                            *ngIf="!tripOperationList.trip.depotIn"
                            >┓</span
                        >
                    </ng-container>

                    <ng-container
                        *ngIf="tripOperationList.trip.tripDirection === 1"
                    >
                        <span
                            class="kigou"
                            *ngIf="tripOperationList.trip.depotOut"
                            >◯</span
                        >
                        <span
                            class="kigou"
                            *ngIf="!tripOperationList.trip.depotOut"
                            >┛</span
                        >
                    </ng-container>
                </div>
                <div
                    *ngIf="
                        tripOperationList.trip.tripDirection ===
                            (operationTrip?.tripOperationLists)[i + 1]?.trip
                                ?.tripDirection &&
                        !tripOperationList.trip.depotIn &&
                        !(operationTrip?.tripOperationLists)[i + 1]?.trip
                            ?.depotOut
                    "
                >
                    <ng-container
                        *ngIf="tripOperationList.trip.tripDirection === 0"
                    >
                        <span class="kigou">┏</span>
                    </ng-container>
                    <ng-container
                        *ngIf="tripOperationList.trip.tripDirection === 1"
                    >
                        <span class="kigou">┗</span>
                    </ng-container>
                    <span class="kigou">━━━━━━━━━━━━━━━━━━━━━</span>
                    <ng-container
                        *ngIf="tripOperationList.trip.tripDirection === 0"
                    >
                        <span class="kigou">┛</span>
                    </ng-container>
                    <ng-container
                        *ngIf="tripOperationList.trip.tripDirection === 1"
                    >
                        <span class="kigou">┓</span>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </section>
</ng-template>
