<mat-card class="mat-elevation-z1">
    <mat-card-title> 凡例 </mat-card-title>
    <mat-card-content>
        <dl>
            <div fxLayout="row">
                <dt fxFlex="48px" style="font-weight: 700">太字</dt>
                <dd class="ml-0">本日中に目撃された情報</dd>
            </div>
            <div fxLayout="row">
                <dt fxFlex="48px" style="text-decoration: underline">下線</dt>
                <dd class="ml-0">昨日に目撃された情報</dd>
            </div>
            <div>
                <dt fxFlex="48px" class="today">赤字</dt>
                <dd class="ml-0">本日中に目撃・更新された情報</dd>
            </div>
            <div>
                <dt fxFlex="48px" class="yesterday">緑字</dt>
                <dd class="ml-0">昨日に目撃・更新された情報</dd>
            </div>
            <div fxLayout="row">
                <dt fxFlex="48px">〇〇?</dt>
                <dd class="ml-0">順送り済み情報の推測される編成・運用番号</dd>
            </div>
        </dl>
    </mat-card-content>
</mat-card>
