<div class="operation-table-search-form-container">
  <form
    fxLayout="column"
    fxLayoutGap="12px"
    [formGroup]="searchParam"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field fxFlex="auto">
      <mat-select placeholder="ダイヤ" formControlName="dia">
        <mat-option *ngFor="let calender of calenders" [value]="calender.id">
          {{ calender.start_date | myDate: 'YYYY年MM月DD日' }} 改正
          {{ calender.calender_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button
        mat-raised-button
        color="primary"
        [disabled]="searchParam.invalid"
      >
        検索
      </button>
    </div>
  </form>
</div>
