<div class="tw-flex tw-flex-col tw-gap-4">
    <app-timetable-station-table-p
        [calendar]="calendar()"
        [stationName]="stationName()"
        [tripDirection]="tripDirection()"
        [tripClasses]="tripClasses()"
        [stations]="stations()"
        [timetableData]="timetableData()"
        [operations]="operations()"
        [operationSightingTimeCrossSections]="
            operationSightingTimeCrossSections()
        "
    ></app-timetable-station-table-p>

    <ng-adsense [adSlot]="6036265169"></ng-adsense>

    <app-timetable-search-card-c></app-timetable-search-card-c>
</div>
