<div fxLayout="column" fxLayoutGap="16px">
    <app-timetable-station-table-p
        [calendar]="calendar$ | async"
        [stationName]="stationName$ | async"
        [tripDirection]="tripDirection$ | async"
        [tripClasses]="tripClasses$ | async"
        [stations]="stations$ | async"
        [timetableData]="timetableData$ | async"
    ></app-timetable-station-table-p>

    <ng-adsense [adSlot]="6036265169"></ng-adsense>

    <app-timetable-search-card-c></app-timetable-search-card-c>
</div>
