<form class="tw-flex tw-flex-col tw-gap-4 tw-p-6" [formGroup]="form">
    <header class="tw-flex tw-flex-row tw-items-center">
        <h2 class="tw-m-0 tw-text-2xl tw-font-normal">ログイン</h2>
        <div class="tw-flex-grow"></div>
        <button mat-icon-button type="button" (click)="onClickClose()">
            <mat-icon>close</mat-icon>
        </button>
    </header>
    <div class="tw-flex tw-flex-col tw-gap-4">
        <mat-form-field>
            <mat-label>ユーザー名</mat-label>
            <input
                matInput
                type="text"
                formControlName="username"
                placeholder="ユーザー名を入力してください"
            />
            @if (form.get('username')?.hasError('required')) {
                <mat-error>必須項目です</mat-error>
            } @else if (form.get('username')?.hasError('minlength')) {
                <mat-error>4文字以上で入力してください</mat-error>
            } @else if (form.get('username')?.hasError('maxlength')) {
                <mat-error>32文字以下で入力してください</mat-error>
            } @else if (form.get('username')?.hasError('pattern')) {
                <mat-error>使用文字の要件を満たしていません</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>パスワード</mat-label>
            <input
                matInput
                type="password"
                formControlName="password"
                placeholder="パスワードを入力してください"
            />
            <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="togglePasswordVisibility()"
            >
                <mat-icon>{{
                    passwordVisible() ? 'visibility_off' : 'visibility'
                }}</mat-icon>
            </button>
            @if (form.get('password')?.hasError('required')) {
                <mat-error>必須項目です</mat-error>
            } @else if (form.get('password')?.hasError('minlength')) {
                <mat-error>8文字以上で入力してください</mat-error>
            } @else if (form.get('password')?.hasError('maxlength')) {
                <mat-error>128文字以下で入力してください</mat-error>
            } @else if (form.get('password')?.hasError('pattern')) {
                <mat-error>使用文字の要件を満たしていません</mat-error>
            }
        </mat-form-field>
    </div>
    <div class="tw-flex tw-flex-row tw-justify-center">
        <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="form.invalid || submitting()"
            (click)="onClickSubmit()"
        >
            ログイン
        </button>
    </div>
</form>
