:host {
  tr {
    th:first-child,
    td:first-child {
      min-width: 100px;
      position: sticky;
      left: 0px;
      background: white;
      z-index: 2;
      padding-right: 16px;
    }
  }
  tr + tr {
    padding-top: 8px;
  }
  th + th,
  td + td {
    padding-left: 16px;
  }

  table {
    thead {
      th,
      td {
        text-align: right;
      }
    }
    tbody {
      th,
      td {
        text-align: right;
      }
    }
  }
}
