<div style="overflow-x: auto">
  <table>
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let trip of tripForm.controls; let i = index">
          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button
              mat-icon-button
              (click)="deleteTrip(i)"
              [disabled]="i === 0 || tripCount > i"
            >
              <mat-icon>remove</mat-icon>
            </button>
            <button
              mat-icon-button
              [disabled]="i !== tripForm.controls.length - 1"
              (click)="createTrip()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </th>
      </tr>
      <tr>
        <th>
          列車番号
        </th>
        <th *ngFor="let trip of tripForm.controls" [formGroup]="trip">
          <div fxLayout="row">
            <mat-form-field fxFlex="auto">
              <input
                matInput
                formControlName="tripNumber"
                placeholder="列車番号"
              />
            </mat-form-field>
          </div>
        </th>
      </tr>
      <tr>
        <th>運用番号</th>
        <th *ngFor="let trip of tripForm.controls" [formGroup]="trip">
          <div fxLayout="row">
            <mat-form-field fxFlex="auto">
              <mat-select formControlName="operationId" placeholder="運用番号">
                <mat-option
                  *ngFor="let operation of operations"
                  [value]="operation.id"
                >
                  {{ operation.operationNumber }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </th>
      </tr>
      <tr>
        <th>
          種別
        </th>
        <th *ngFor="let trip of tripForm.controls" [formGroup]="trip">
          <div fxLayout="row">
            <mat-form-field fxFlex="auto">
              <mat-select formControlName="tripClassId" placeholder="種別">
                <mat-option
                  *ngFor="let tripClass of tripClasses"
                  [value]="tripClass.id"
                >
                  {{ tripClass.tripClassName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </th>
      </tr>
      <tr>
        <th>入出庫</th>
        <th *ngFor="let trip of tripForm.controls" [formGroup]="trip">
          <div fxLayout="row" fxLayoutGap="16px">
            <mat-checkbox formControlName="depotIn">入庫</mat-checkbox>
            <mat-checkbox formControlName="depotOut">出庫</mat-checkbox>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>駅時刻一覧</th>
      </tr>
      <tr *ngFor="let station of stations">
        <td>{{ station.stationName }}</td>
        <td
          *ngFor="let trip of tripForm.controls"
          [formGroup]="getTime(station.id, trip.get('times'))"
        >
          <div fxLayout="column" fxLayoutGap="8px">
            <div>
              <mat-radio-group
                fxLayout="row"
                fxLayoutGap="8px"
                formControlName="stopType"
                (change)="
                  changeStopType($event, getTime(station.id, trip.get('times')))
                "
              >
                <mat-radio-button value="stop">
                  停
                </mat-radio-button>
                <mat-radio-button value="passing">
                  通
                </mat-radio-button>
                <mat-radio-button value="noVia">
                  経由なし
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <mat-form-field fxFlex="70px" class="mt-4">
                <input
                  type="time"
                  matInput
                  formControlName="arrivalTime"
                  placeholder="着"
                />
              </mat-form-field>
              <mat-form-field fxFlex="70px" class="mt-4">
                <input
                  type="time"
                  matInput
                  formControlName="departureTime"
                  placeholder="発"
                />
              </mat-form-field>
              <mat-form-field fxFlex="70px">
                <mat-select formControlName="stopId" placeholder="番線">
                  <mat-option
                    *ngFor="let stop of sortStops(station.stops)"
                    [value]="stop.id"
                  >
                    {{ stop.stopName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
  <button mat-button color="primary" (click)="onClickClear()">クリア</button>
  <button
    mat-raised-button
    color="primary"
    fxFlex="128px"
    [disabled]="tripForm.invalid"
    (click)="onClickSave()"
  >
    保存する
  </button>
</div>
