<div class="tw-flex tw-flex-col tw-gap-4">
    <p>ダイヤを選択してください。</p>
    <mat-form-field>
        <mat-select placeholder="ダイヤ" [(ngModel)]="selected" tabindex="0">
            @for (calendar of calendars(); track calendar.calendarId) {
                <mat-option [value]="calendar.calendarId">
                    {{
                        calendar.startDate
                            | dateFns
                                : {
                                      format: 'yyyy年MM月dd日改正',
                                      parseFormat: 'yyyy-MM-dd',
                                  }
                    }}
                    {{ calendar.calendarName }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
    <div class="tw-flex tw-flex-row tw-justify-center">
        <button
            mat-raised-button
            color="primary"
            tabindex="0"
            [disabled]="selected === undefined"
            (click)="clickSelect.emit(selected)"
        >
            選択する
        </button>
    </div>
</div>
