<app-timetable-all-line-table-presentational
    [tripDirection]="tripDirection$ | async"
    [stations]="stations$ | async"
    [trips]="trips$ | async"
    [isGroupingMode]="isGroupingMode$ | async"
    [groupingBaseTrip]="groupingBaseTrip$ | async"
    [pageSettings]="pageSettings$ | async"
    (clickEdit)="onReceiveClickEdit($event)"
    (clickCopy)="onReceiveClickCopy($event)"
    (clickDelete)="onReceiveClickDelete($event)"
    (clickGrouping)="onReceiveClickGrouping($event)"
    (clickAddTripInGroup)="onReceiveClickAddTripInGroup($event)"
    (clickRemoveTripInGroup)="onReceiveClickRemoveTripInGroup($event)"
></app-timetable-all-line-table-presentational>
