<table class="tw-h-full tw-flex-1 tw-border-collapse tw-bg-white">
    <thead>
        <tr
            class="tw-h-16 [&>th+th]:tw-pl-4 [&>th.formationNumber]:tw-w-10 [&>th.operationNumber]:tw-w-9 [&>th:first-child]:tw-pl-6 [&>th:last-child]:tw-pr-6"
        >
            @for (column of displayedColumns(); track column) {
                <th
                    class="tw-p-0 tw-text-left tw-text-xs tw-font-normal tw-text-grey-600"
                    [ngClass]="[column]"
                >
                    {{ operationRealTimeTableColumnLabel[column] }}
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @for (row of data(); track trackBy()(row)) {
            <tr
                class="tw-h-12 [&>td+td]:tw-pl-4 [&>td.formationNumber]:tw-w-10 [&>td.operationNumber]:tw-w-9 [&>td:first-child]:tw-pl-6 [&>td:last-child]:tw-pr-6"
            >
                @for (column of displayedColumns(); track column) {
                    <td
                        class="tw-h-full tw-border-0 tw-border-t tw-border-solid tw-border-t-grey-300 tw-p-0"
                        [ngClass]="[column]"
                    >
                        @if (
                            column ===
                            operationRealTimeTableColumn.OPERATION_NUMBER
                        ) {
                            <app-operation-number-link
                                [operation]="
                                    row.operation ||
                                    row.timeCrossSection?.expectedSighting
                                        ?.operation
                                "
                                [dayCountFromToday]="
                                    primaryKey() !==
                                    operationRealTimeTableColumn.OPERATION_NUMBER
                                        ? (row.timeCrossSection?.latestSighting
                                              ?.sightingTime
                                          | calculateDayCountFromToday)
                                        : undefined
                                "
                            ></app-operation-number-link>
                        }
                        @if (
                            column ===
                            operationRealTimeTableColumn.FORMATION_NUMBER
                        ) {
                            <app-formation-number-link
                                [formation]="
                                    row.formation ||
                                    row.timeCrossSection?.expectedSighting
                                        ?.formation
                                "
                                [dayCountFromToday]="
                                    primaryKey() !==
                                    operationRealTimeTableColumn.FORMATION_NUMBER
                                        ? (row.timeCrossSection?.latestSighting
                                              ?.sightingTime
                                          | calculateDayCountFromToday)
                                        : undefined
                                "
                            ></app-formation-number-link>
                        }
                        @if (
                            column ===
                            operationRealTimeTableColumn.SIGHTING_HISTORIES
                        ) {
                            <ng-container
                                *ngTemplateOutlet="
                                    histories;
                                    context: {
                                        histories: row.sightingHistories,
                                    }
                                "
                            ></ng-container>
                        }
                        @if (
                            column ===
                            operationRealTimeTableColumn.CURRENT_POSITION
                        ) {
                            <app-current-position-link
                                [todaysCalendarId]="todaysCalendarId()"
                                [stations]="stations()"
                                [tripClasses]="tripClasses()"
                                [currentPosition]="row.currentPosition"
                            ></app-current-position-link>
                        }
                        @if (
                            column ===
                            operationRealTimeTableColumn.SIGHTING_TIME
                        ) {
                            <ng-container
                                *ngTemplateOutlet="
                                    time;
                                    context: {
                                        time: row.timeCrossSection
                                            ?.latestSighting?.sightingTime,
                                    }
                                "
                            ></ng-container>
                        }
                        @if (
                            column === operationRealTimeTableColumn.UPDATED_AT
                        ) {
                            <ng-container
                                *ngTemplateOutlet="
                                    time;
                                    context: {
                                        time: row.timeCrossSection
                                            ?.latestSighting?.updatedAt,
                                    }
                                "
                            ></ng-container>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<ng-template #time let-time="time">
    <span
        class="tw-text-sm tw-leading-none"
        [ngStyle]="{
            color:
                (time | calculateDayCountFromToday) === 0
                    ? '#f44336'
                    : (time | calculateDayCountFromToday) === 1
                      ? '#4caf50'
                      : 'initial',
        }"
    >
        {{ time | dayjs: { format: 'YYYY/MM/DD HH:mm:ss' } }}
    </span>
</ng-template>

<ng-template #histories let-histories="histories">
    <div
        class="tw-flex tw-h-full tw-w-fit tw-max-w-32 tw-flex-row tw-items-center tw-gap-1 tw-overflow-x-auto"
    >
        @for (history of histories; track history.operationSightingId) {
            <mat-icon class="!tw-h-4 !tw-w-4 tw-min-w-4 tw-text-[16px]">
                arrow_back
            </mat-icon>
            <span
                class="tw-text-xs"
                [matTooltip]="
                    history.sightingTime
                        | dayjs: { format: '目撃：YYYY/MM/DD HH:mm:ss' }
                "
            >
                @if (
                    primaryKey() ===
                    operationRealTimeTableColumn.OPERATION_NUMBER
                ) {
                    {{ history.formation.formationNumber }}
                } @else if (
                    primaryKey() ===
                    operationRealTimeTableColumn.FORMATION_NUMBER
                ) {
                    {{ history.operation.operationNumber }}
                }
            </span>
        }
    </div>
</ng-template>
