:host {
  .hour {
    font-size: 24px;
  }

  .minute {
    width: 48px;
    height: 48px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .underbar {
    text-decoration: underline;
  }

  .none {
    text-decoration: none;
  }

  .last-stop {
    border: 1px dashed rgba(255, 0, 0, 0.36);
    border-radius: 50%;
  }

  table {
    border-collapse: collapse;
    tr {
      height: 72px;
      min-height: 72px;
      &:nth-child(odd) {
        th,
        td {
          background: white;
        }
      }
      &:nth-child(even) {
        th,
        td {
          background: #eeeeee;
        }
      }
    }
    th {
      min-width: 48px;
      position: sticky;
      left: 0;
    }
    td {
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 8px;
      padding-bottom: 8px;
      min-width: 152px;
    }
  }
}
