<div class="tw-flex tw-flex-col tw-gap-4">
    <div>
        <app-operation-real-time-control-panel-c></app-operation-real-time-control-panel-c>
    </div>
    <div>
        <ng-adsense
            [adSlot]="4807362830"
            [adFormat]="'horizontal'"
        ></ng-adsense>
    </div>

    <div class="tw-flex tw-flex-col tw-gap-4 md:tw-flex-row md:tw-gap-16">
        <div
            class="tw-overflow-x-auto tw-shadow-md md:tw-flex-1 md:tw-self-start [&_div]:tw-flex"
        >
            <app-operation-real-time-new-table-by-operation-c></app-operation-real-time-new-table-by-operation-c>
        </div>

        <div class="md:tw-hidden">
            <ng-adsense [adSlot]="8391993434"></ng-adsense>
        </div>

        <div
            class="tw-overflow-x-auto tw-shadow-md md:tw-flex-1 md:tw-self-start"
        >
            <app-operation-real-time-new-table-by-formation-c></app-operation-real-time-new-table-by-formation-c>
        </div>
    </div>

    <div>
        <ng-adsense [adSlot]="3946316114"></ng-adsense>
    </div>
    <div>
        <app-operation-real-time-legend-p></app-operation-real-time-legend-p>
    </div>
    <div>
        <app-operation-post-card-c></app-operation-post-card-c>
    </div>
</div>
