<app-operation-real-time-control-panel-p
    [isEnableAutoReload]="isEnableAutoReload$ | push"
    [isVisibleSightingHistories]="isVisibleSightingHistories$ | push"
    [isVisibleCurrentPosition]="isVisibleCurrentPosition$ | push"
    (toggleAutoReload)="onToggledAutoReload$.next($event)"
    (toggleVisibleSightingHistories)="
        onToggledVisibleSightingHistories$.next($event)
    "
    (toggleVisibleCurrentPosition)="
        onToggledVisibleCurrentPosition$.next($event)
    "
></app-operation-real-time-control-panel-p>
