<app-operation-real-time-control-panel-p
    [isEnableAutoReload]="isEnableAutoReload()"
    [isVisibleSightingHistories]="isVisibleSightingHistories()"
    [isVisibleCurrentPosition]="isVisibleCurrentPosition()"
    (toggleAutoReload)="onToggledAutoReload$.next($event)"
    (toggleVisibleSightingHistories)="
        onToggledVisibleSightingHistories$.next($event)
    "
    (toggleVisibleCurrentPosition)="
        onToggledVisibleCurrentPosition$.next($event)
    "
></app-operation-real-time-control-panel-p>
