<mat-card>
    <mat-card-title>
        <mat-toolbar
            [ngClass]="[
                (calendar$ | async).sunday && (calendar$ | async).saturday
                    ? 'holiday'
                    : 'weekday'
            ]"
        >
            <h3 style="line-height: 1.25">
                {{ (calendar$ | async).startDate | date: 'yyyy年MM月dd日' }}
                改正<br />
                {{ (calendar$ | async).calendarName }}
                {{ stationName$ | async }}駅
                {{
                    (tripDirection$ | async) === 0
                        ? '上り'
                        : (tripDirection$ | async) === 1
                        ? '下り'
                        : ''
                }}時刻表
            </h3>
        </mat-toolbar>
    </mat-card-title>
    <mat-card-content>
        <table>
            <tr
                *ngFor="
                    let item of timetableData$ | async;
                    trackBy: 'hour' | trackBy
                "
            >
                <th class="hour">{{ item.hour }}</th>
                <td
                    *ngFor="let trip of item.trips; trackBy: 'tripId' | trackBy"
                >
                    <div fxLayout="row">
                        <div
                            class="minute"
                            fxLayout="row"
                            fxLayoutAlign="center"
                            fxFlexAlign="center"
                        >
                            <a
                                class="underbar"
                                fxFlexAlign="center"
                                *ngIf="
                                    !trip.times[0].departureTime &&
                                    trip.times[0].arrivalTime
                                "
                                [ngStyle]="{
                                    color:
                                        trip.tripClassId
                                        | findById
                                            : {
                                                  array: tripClasses$ | async,
                                                  propertyName: 'tripClassId',
                                                  outputPropertyName:
                                                      'tripClassColor'
                                              }
                                }"
                                [routerLink]="[
                                    '/timetable/all-line',
                                    {
                                        calendar_id: (calendar$ | async)
                                            .calendarId,
                                        trip_direction: trip.tripDirection,
                                        trip_block_id: trip.tripBlockId
                                    }
                                ]"
                            >
                                {{
                                    trip.times[0].arrivalTime
                                        | dayjs
                                            : {
                                                  format: 'mm',
                                                  parseFormat: 'HH:mm:ss'
                                              }
                                }}
                            </a>
                            <a
                                class="none"
                                fxFlexAlign="center"
                                *ngIf="trip.times[0].departureTime"
                                [ngStyle]="{
                                    color:
                                        trip.tripClassId
                                        | findById
                                            : {
                                                  array: tripClasses$ | async,
                                                  propertyName: 'tripClassId',
                                                  outputPropertyName:
                                                      'tripClassColor'
                                              }
                                }"
                                [routerLink]="[
                                    '/timetable/all-line',
                                    {
                                        calendar_id: (calendar$ | async)
                                            .calendarId,
                                        trip_direction: trip.tripDirection,
                                        trip_block_id: trip.tripBlockId
                                    }
                                ]"
                            >
                                {{
                                    trip.times[0].departureTime
                                        | dayjs
                                            : {
                                                  format: 'mm',
                                                  parseFormat: 'HH:mm:ss'
                                              }
                                }}
                            </a>
                        </div>
                        <div fxLayout="column">
                            <div>
                                <small>{{ trip.tripNumber }}</small>
                            </div>
                            <div>
                                <span
                                    [ngStyle]="{
                                        color:
                                            trip.tripClassId
                                            | findById
                                                : {
                                                      array:
                                                          tripClasses$ | async,
                                                      propertyName:
                                                          'tripClassId',
                                                      outputPropertyName:
                                                          'tripClassColor'
                                                  }
                                    }"
                                >
                                    {{
                                        trip.tripClassId
                                            | findById
                                                : {
                                                      array:
                                                          tripClasses$ | async,
                                                      propertyName:
                                                          'tripClassId',
                                                      outputPropertyName:
                                                          'tripClassName'
                                                  }
                                    }}
                                </span>
                            </div>
                            <div>
                                <span>
                                    {{
                                        trip
                                            | timetableStationFindLastStopStation
                                            | findById
                                                : {
                                                      array: stations$ | async,
                                                      propertyName: 'stationId',
                                                      outputPropertyName:
                                                          'stationName'
                                                  }
                                    }}
                                </span>
                            </div>
                            <div fxLayout="column">
                                <div
                                    *ngFor="
                                        let otherTrip of trip
                                            | timetableStationFindOtherTripsInSameTripBlock
                                    "
                                >
                                    <small>
                                        {{
                                            (
                                                otherTrip.times
                                                | minBy
                                                    : {
                                                          propertyName:
                                                              'stopSequence'
                                                      }
                                            ).stationId
                                                | findById
                                                    : {
                                                          array:
                                                              stations$ | async,
                                                          propertyName:
                                                              'stationId',
                                                          outputPropertyName:
                                                              'stationName'
                                                      }
                                        }}から{{
                                            (
                                                otherTrip.times
                                                | maxBy
                                                    : {
                                                          propertyName:
                                                              'stopSequence'
                                                      }
                                            ).stationId
                                                | findById
                                                    : {
                                                          array:
                                                              stations$ | async,
                                                          propertyName:
                                                              'stationId',
                                                          outputPropertyName:
                                                              'stationName'
                                                      }
                                        }}まで<br />
                                        {{ otherTrip.tripNumber }}
                                        <span
                                            [ngStyle]="{
                                                color:
                                                    otherTrip.tripClassId
                                                    | findById
                                                        : {
                                                              array:
                                                                  tripClasses$
                                                                  | async,
                                                              propertyName:
                                                                  'tripClassId',
                                                              outputPropertyName:
                                                                  'tripClassColor'
                                                          }
                                            }"
                                        >
                                            {{
                                                otherTrip.tripClassId
                                                    | findById
                                                        : {
                                                              array:
                                                                  tripClasses$
                                                                  | async,
                                                              propertyName:
                                                                  'tripClassId',
                                                              outputPropertyName:
                                                                  'tripClassName'
                                                          }
                                            }}
                                        </span>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td
                    *ngFor="
                        let blank of (maxColumnsCount$ | async) -
                            item.trips.length | range
                    "
                ></td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
