<article
    class="tw-box-border tw-flex tw-h-full tw-w-full tw-flex-col tw-gap-4 tw-bg-white tw-p-4 tw-shadow-md"
>
    <header>
        <h2 class="tw-m-0 tw-text-2xl tw-font-normal">運用情報を投稿する</h2>
        <p class="tw-m-0 tw-text-sm tw-text-grey-700">
            各編成の運用充当状況を投稿できます。
        </p>
    </header>
    <div class="tw-flex-grow">
        <form class="tw-flex tw-flex-col tw-gap-4" [formGroup]="sightingForm">
            <div class="tw-flex tw-flex-row tw-gap-4">
                <mat-form-field appearance="fill" class="tw-w-28">
                    <mat-label>所属</mat-label>
                    <mat-select formControlName="agencyId">
                        @for (agency of agencies(); track agency.agencyId) {
                            <mat-option [value]="agency.agencyId">
                                {{ agency.agencyName }}
                            </mat-option>
                        }
                    </mat-select>
                    @if (sightingForm.get('agencyId').hasError('required')) {
                        <mat-error> <strong>必須項目</strong>です </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="fill" class="tw-flex-grow">
                    <mat-label>編成番号 or 車両番号</mat-label>
                    <input
                        matInput
                        formControlName="formationOrVehicleNumber"
                    />
                    <mat-hint> 例：12101 / 101 / 3101 </mat-hint>
                    @if (
                        sightingForm
                            .get('formationOrVehicleNumber')
                            .hasError('required')
                    ) {
                        <mat-error> <strong>必須項目</strong>です </mat-error>
                    }
                </mat-form-field>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>運用番号</mat-label>
                <input matInput formControlName="operationNumber" />
                <mat-hint> 休車の場合は'100'を入力 </mat-hint>
                @if (sightingForm.get('operationNumber').hasError('required')) {
                    <mat-error> <strong>必須項目</strong>です </mat-error>
                }
            </mat-form-field>

            <mat-radio-group
                class="tw-flex tw-flex-row tw-gap-4"
                formControlName="timeSetting"
            >
                <mat-radio-button value="currentTime">
                    現在時刻
                </mat-radio-button>
                <mat-radio-button value="specifiedTime">
                    指定時刻
                </mat-radio-button>
            </mat-radio-group>

            <mat-form-field appearance="fill">
                <mat-label>目撃時刻</mat-label>
                <input type="time" matInput formControlName="sightingTime" />
                <mat-hint>
                    当日分の入力は 04:00 ～ 現時刻（最大：翌03:59）まで
                </mat-hint>
                @if (sightingForm.get('sightingTime').hasError('required')) {
                    <mat-error> <strong>必須項目</strong>です </mat-error>
                }
            </mat-form-field>
        </form>
    </div>
    <footer class="tw-flex tw-flex-row tw-justify-end">
        <button
            type="button"
            color="primary"
            mat-raised-button
            [disabled]="sightingForm.invalid"
            (click)="submitSighting.emit(sightingForm.value)"
        >
            送信
        </button>
    </footer>
</article>
