:host {
    table {
        font-size: 16px;
        line-height: 1;
        white-space: nowrap;
        border-collapse: collapse;
    }

    ::ng-deep.mat-mdc-icon-button .mat-mdc-button-touch-target {
        width: 36px !important;
        height: 36px !important;
    }
}
