<!-- The content below is only a placeholder and can be replaced. -->
<app-header (toggleSidenav)="sidenav.toggle()"></app-header>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push" [(opened)]="opened">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <perfect-scrollbar>
      <div class="page-container" [ngStyle.gt-xs]="{ margin: '24px 60px' }">
        <router-outlet></router-outlet>
      </div>
    </perfect-scrollbar>
  </mat-sidenav-content>
</mat-sidenav-container>
