<ng-container *rxLet="vm$; let vm">
    <mat-card>
        <mat-card-title *rxIf="vm.calendar">
            <mat-toolbar
                class="!tw-h-[48px]"
                [ngClass]="[
                    vm.calendar.sunday && vm.calendar.saturday
                        ? 'holiday'
                        : 'weekday'
                ]"
            >
                <h3 class="!tw-text-[16px] !tw-leading-5 !tw-text-white">
                    {{ vm.calendar.startDate | date: 'yyyy年MM月dd日' }}
                    改正<br />
                    {{ vm.calendar.calendarName }}
                </h3>
            </mat-toolbar>
        </mat-card-title>
        <mat-card-content class="!tw-p-4">
            <div
                class="tw-flex tw-flex-row tw-flex-wrap tw-justify-center tw-gap-x-4 tw-overflow-x-visible"
                *rxIf="vm.calendar"
            >
                <ng-container
                    *rxFor="
                        let operationNumber of vm.operationNumbers;
                        trackBy: 'this' | trackBy;
                        strategy: 'normal'
                    "
                >
                    <ng-container
                        *ngTemplateOutlet="
                            operationTripsList;
                            context: {
                                operationNumber: operationNumber
                            }
                        "
                    ></ng-container>
                </ng-container>

                <div
                    *rxFor="
                        let operationNumber of vm.operationNumbers;
                        trackBy: 'this' | trackBy;
                        strategy: 'normal'
                    "
                    class="tw-h-0 tw-w-[312px]"
                ></div>
            </div>
            <p *rxIf="!vm.calendar">ダイヤを設定して検索してください</p>
        </mat-card-content>
    </mat-card>

    <ng-template #operationTripsList let-operationNumber="operationNumber">
        <section
            *rxLet="
                operationNumber
                    | findById
                        : {
                              array: vm.operationTrips,
                              propertyName: 'operation.operationNumber'
                          };
                let operationTrips;
                strategy: 'immediate'
            "
            class="tw-w-[312px]"
        >
            <header>
                <h4
                    class="tw-my-0 tw-py-2 tw-text-center"
                    [ngStyle]="{
                        background: operationNumber | operationNumberColor
                    }"
                >
                    <a
                        [routerLink]="[
                            '/operation/route-diagram',
                            {
                                operation_id:
                                    operationTrips.operation.operationId
                            }
                        ]"
                    >
                        {{ operationNumber }}
                    </a>
                </h4>
            </header>
            <div class="monoscape tw-py-4">
                <ng-container
                    *rxFor="
                        let tripOperationList of operationTrips.trips;
                        let i = index;
                        trackBy: 'tripOperationListId' | trackBy;
                        strategy: 'immediate'
                    "
                >
                    <ng-container
                        *ngTemplateOutlet="
                            tripRow;
                            context: { tripOperationList: tripOperationList }
                        "
                    ></ng-container>
                    <div
                        *rxIf="
                            tripOperationList.trip.tripDirection ===
                                (operationTrips?.trips)[i + 1]?.trip
                                    ?.tripDirection &&
                                !tripOperationList.trip.depotIn &&
                                !(operationTrips?.trips)[i + 1]?.trip?.depotOut;
                            strategy: 'immediate'
                        "
                    >
                        <ng-container
                            *rxIf="
                                tripOperationList.trip.tripDirection === 0;
                                strategy: 'immediate'
                            "
                        >
                            <span>┏</span>
                        </ng-container>

                        <ng-container
                            *rxIf="
                                tripOperationList.trip.tripDirection === 1;
                                strategy: 'immediate'
                            "
                        >
                            <span>┗</span>
                        </ng-container>

                        <span>━━━━━━━━━━━━━━━━━━━━━━</span>

                        <ng-container
                            *rxIf="
                                tripOperationList.trip.tripDirection === 0;
                                strategy: 'immediate'
                            "
                        >
                            <span>┛</span>
                        </ng-container>

                        <ng-container
                            *rxIf="
                                tripOperationList.trip.tripDirection === 1;
                                strategy: 'immediate'
                            "
                        >
                            <span>┓</span>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </section>
    </ng-template>

    <ng-template #tripRow let-tripOperationList="tripOperationList">
        <div class="tw-flex tw-flex-row tw-leading-5">
            <ng-container
                *rxIf="
                    tripOperationList.trip.tripDirection === 0;
                    strategy: 'immediate'
                "
            >
                <span
                    *rxIf="
                        tripOperationList.trip.depotOut;
                        strategy: 'immediate'
                    "
                >
                    ◯
                </span>
                <span
                    *rxIf="
                        !tripOperationList.trip.depotOut;
                        strategy: 'immediate'
                    "
                >
                    ┗
                </span>
            </ng-container>

            <ng-container
                *rxIf="
                    tripOperationList.trip.tripDirection === 1;
                    strategy: 'immediate'
                "
            >
                <span
                    *rxIf="
                        tripOperationList.trip.depotIn;
                        strategy: 'immediate'
                    "
                >
                    △
                </span>
                <span
                    *rxIf="
                        !tripOperationList.trip.depotIn;
                        strategy: 'immediate'
                    "
                >
                    ┏
                </span>
            </ng-container>

            <ng-container
                *rxIf="
                    tripOperationList.trip.tripDirection === 0;
                    strategy: 'immediate'
                "
            >
                <ng-container
                    *ngTemplateOutlet="
                        stationNameColumn;
                        context: {
                            stationId: tripOperationList.startTime.stationId
                        }
                    "
                ></ng-container>
                <ng-container
                    *ngTemplateOutlet="
                        timeColumn;
                        context: {
                            time: tripOperationList.startTime.departureTime
                        }
                    "
                ></ng-container>
                <span
                    [ngStyle]="{
                        color:
                            tripOperationList.trip.tripClassId
                            | findById
                                : {
                                      array: vm.tripClasses,
                                      propertyName: 'tripClassId',
                                      outputPropertyName: 'tripClassColor'
                                  }
                    }"
                >
                    ➡
                </span>
            </ng-container>
            <ng-container
                *rxIf="
                    tripOperationList.trip.tripDirection === 1;
                    strategy: 'immediate'
                "
            >
                <ng-container
                    *ngTemplateOutlet="
                        stationNameColumn;
                        context: {
                            stationId: tripOperationList.endTime.stationId
                        }
                    "
                ></ng-container>
                <ng-container
                    *ngTemplateOutlet="
                        timeColumn;
                        context: {
                            time: tripOperationList.endTime.arrivalTime
                        }
                    "
                ></ng-container>
                <span
                    [ngStyle]="{
                        color:
                            tripOperationList.trip.tripClassId
                            | findById
                                : {
                                      array: vm.tripClasses,
                                      propertyName: 'tripClassId',
                                      outputPropertyName: 'tripClassColor'
                                  }
                    }"
                >
                    ⬅
                </span>
            </ng-container>

            <div class="tw-w-[6em] tw-text-center">
                <a
                    [routerLink]="[
                        '/timetable',
                        'all-line',
                        {
                            calendar_id: vm.calendar.calendarId,
                            trip_direction:
                                tripOperationList.trip.tripDirection,
                            trip_block_id: tripOperationList.trip.tripBlockId
                        }
                    ]"
                >
                    <span
                        class="tw-w-[2em] tw-text-center"
                        [ngStyle]="{
                            color:
                                tripOperationList.trip.tripClassId
                                | findById
                                    : {
                                          array: vm.tripClasses,
                                          propertyName: 'tripClassId',
                                          outputPropertyName: 'tripClassColor'
                                      }
                        }"
                    >
                        {{
                            tripOperationList.trip.tripClassId
                                | findById
                                    : {
                                          array: vm.tripClasses,
                                          propertyName: 'tripClassId',
                                          outputPropertyName: 'tripClassName'
                                      }
                                | operationTableFormatTripClassName
                        }}
                    </span>
                    <span
                        [ngStyle]="{
                            color:
                                tripOperationList.trip.tripClassId
                                | findById
                                    : {
                                          array: vm.tripClasses,
                                          propertyName: 'tripClassId',
                                          outputPropertyName: 'tripClassColor'
                                      }
                        }"
                    >
                        {{ tripOperationList.trip.tripNumber }}
                    </span>
                </a>
            </div>

            <ng-container
                *rxIf="
                    tripOperationList.trip.tripDirection === 0;
                    strategy: 'immediate'
                "
            >
                <span
                    [ngStyle]="{
                        color:
                            tripOperationList.trip.tripClassId
                            | findById
                                : {
                                      array: vm.tripClasses,
                                      propertyName: 'tripClassId',
                                      outputPropertyName: 'tripClassColor'
                                  }
                    }"
                >
                    ➡
                </span>
                <ng-container
                    *ngTemplateOutlet="
                        timeColumn;
                        context: {
                            time: tripOperationList.endTime.arrivalTime
                        }
                    "
                ></ng-container>
                <ng-container
                    *ngTemplateOutlet="
                        stationNameColumn;
                        context: {
                            stationId: tripOperationList.endTime.stationId
                        }
                    "
                ></ng-container>
            </ng-container>
            <ng-container
                *rxIf="
                    tripOperationList.trip.tripDirection === 1;
                    strategy: 'immediate'
                "
            >
                <span
                    [ngStyle]="{
                        color:
                            tripOperationList.trip.tripClassId
                            | findById
                                : {
                                      array: vm.tripClasses,
                                      propertyName: 'tripClassId',
                                      outputPropertyName: 'tripClassColor'
                                  }
                    }"
                >
                    ⬅
                </span>
                <ng-container
                    *ngTemplateOutlet="
                        timeColumn;
                        context: {
                            time: tripOperationList.startTime.departureTime
                        }
                    "
                ></ng-container>
                <ng-container
                    *ngTemplateOutlet="
                        stationNameColumn;
                        context: {
                            stationId: tripOperationList.startTime.stationId
                        }
                    "
                ></ng-container>
            </ng-container>

            <ng-container
                *rxIf="
                    tripOperationList.trip.tripDirection === 0;
                    strategy: 'immediate'
                "
            >
                <span
                    *rxIf="
                        tripOperationList.trip.depotIn;
                        strategy: 'immediate'
                    "
                >
                    △
                </span>
                <span
                    *rxIf="
                        !tripOperationList.trip.depotIn;
                        strategy: 'immediate'
                    "
                >
                    ┓
                </span>
            </ng-container>

            <ng-container
                *rxIf="
                    tripOperationList.trip.tripDirection === 1;
                    strategy: 'immediate'
                "
            >
                <span
                    *rxIf="
                        tripOperationList.trip.depotOut;
                        strategy: 'immediate'
                    "
                >
                    ◯
                </span>
                <span
                    *rxIf="
                        !tripOperationList.trip.depotOut;
                        strategy: 'immediate'
                    "
                >
                    ┛
                </span>
            </ng-container>
        </div>
    </ng-template>

    <ng-template #stationNameColumn let-stationId="stationId">
        <span class="tw-w-[5em] tw-text-center">
            {{
                stationId
                    | findById
                        : {
                              array: vm.stations,
                              propertyName: 'stationId',
                              outputPropertyName: 'stationName'
                          }
                    | operationTableFormatStationName
            }}
        </span>
    </ng-template>

    <ng-template #timeColumn let-time="time">
        <span>
            <ng-container *rxIf="time; strategy: 'immediate'">
                {{
                    time
                        | dayjs
                            : {
                                  parseFormat: 'HH:mm:ss',
                                  format: 'HHmm'
                              }
                }}
            </ng-container>
            <ng-container *rxIf="!time; strategy: 'immediate'">
                ????
            </ng-container>
        </span>
    </ng-template>
</ng-container>
