<div class="operation-realtime-by-operation-container mat-elevation-z1">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="operationNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>運用番号</th>
      <td mat-cell *matCellDef="let element">
        {{ element.operationNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="formationNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>編成番号</th>
      <td mat-cell *matCellDef="let element">
        <span
          [ngClass]="[element.formationNumber === '不明' ? 'duplicate' : '']"
        >
          {{ element.formationNumber }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="history">
      <th mat-header-cell *matHeaderCellDef>履歴</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          (click)="openHistoryDialog(element.operationNumber)"
        >
          <mat-icon>history</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="sightingTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>目撃時刻</th>
      <td mat-cell *matCellDef="let element">
        <span
          [ngClass]="[element.formationNumber === '不明' ? 'duplicate' : '']"
        >
          {{ element.sightingTime | date: 'MM/dd HH:mm' }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="updateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>更新時刻</th>
      <td mat-cell *matCellDef="let element">
        <span
          [ngClass]="[element.formationNumber === '不明' ? 'duplicate' : '']"
        >
          {{ element.updateTime | date: 'MM/dd HH:mm' }}
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
