<app-panel-card heading="ライブラリ">
    <!-- 行は端から端まで押せるよう、外枠の余白ぶん左右に広げる -->
    <mat-nav-list class="!tw-mx-[calc(var(--panel-card-inset)*-1)] !tw-py-0">
        <a
            mat-list-item
            routerLink="/library/vehicle"
            class="!tw-px-[var(--panel-card-inset)]"
        >
            <span matListItemTitle>相鉄の車両</span>
            <!-- mat-icon に直接 matListItemMeta を付けると、MDC の end スロットの
                 font-family がアイコンフォントを上書きして文字のまま出る -->
            <div matListItemMeta class="tw-flex">
                <mat-icon>chevron_right</mat-icon>
            </div>
        </a>
    </mat-nav-list>
</app-panel-card>
