<div fxLayout="column" fxLayoutGap="24px">
  <div fxLayout="row" fxLayoutGap="24px">
    <mat-card fxFlex="100">
      <mat-card-title>このサイトは？</mat-card-title>
      <mat-card-content>
        Sotetsu
        Lab.は、神奈川県を走る大手私鉄、相模鉄道に関する情報を提供するWebサービスです。<br />
        相鉄線を走る車両の1日の動き（これを運用と呼びます）や、全駅における特定車両の発車時刻等の情報を提供しています。
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutGap="24px">
    <mat-card fxFlex="33.3333">
      <mat-card-title>時刻表</mat-card-title>
      <mat-card-content>
        相鉄線の時刻表を検索できます。
        <app-search-timetable-form></app-search-timetable-form>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="33.3333">
      <mat-card-title>運用情報</mat-card-title>
      <mat-card-content> 相鉄線の運用情報を検索できます。 </mat-card-content>
    </mat-card>
    <mat-card fxFlex="33.3333">
      <mat-card-title>車両情報</mat-card-title>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutGap="24px">
    <mat-card> <mat-card-title>更新情報</mat-card-title> </mat-card>
    <mat-card> <mat-card-title>情報</mat-card-title> </mat-card>
    <mat-card> <mat-card-title>車両情報</mat-card-title> </mat-card>
  </div>
</div>
