<div
  class="page-container top-page-container"
  [ngStyle.gt-xs]="{ margin: '24px 60px' }"
  fxLayout="column"
>
  <div fxLayout="row" fxLayoutGap="24px">
    <mat-card fxFlex="100%">
      <mat-card-title>このサイトは？</mat-card-title>
      <mat-card-content>
        Sotetsu
        Lab.は、神奈川県を走る大手私鉄、相模鉄道に関する情報を提供するWebサービスです。<br />
        相鉄線を走る車両の1日の動き（これを運用と呼びます）や、全駅における特定車両の発車時刻等の情報を提供しています。
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout.gt-md="row" fxLayout.lt-lg="column" fxLayoutGap="24px">
    <div fxLayout="column" fxFlex="auto">
      <div
        fxLayout.gt-xs="row"
        fxLayout.lt-sm="column"
        fxLayoutAlign="space-between"
        fxLayoutGap="24px"
      >
        <mat-card fxFlex.gt-xs="50%" fxFlex.lt-sm="100%">
          <mat-card-title>時刻表</mat-card-title>
          <mat-card-content>
            相鉄線の時刻表を検索できます。
            <app-search-timetable-form></app-search-timetable-form>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex.gt-xs="50%" fxFlex.lt-sm="100%">
          <mat-card-title>運用情報</mat-card-title>
          <mat-card-content>
            相鉄線の運用情報を検索できます。
            <mat-nav-list style="margin: 0px -16px">
              <h3 mat-subheader>運用目撃情報</h3>
              <a mat-list-item routerLink="/operation/real-time"
                >リアルタイム運用情報</a
              >
              <h3 mat-subheader>運用表</h3>
              <div style="margin: 0px 16px">
                <app-operation-table-search-form></app-operation-table-search-form>
              </div>
            </mat-nav-list>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-card fxFlex="auto">
        <div>
          <ng-adsense [adSlot]="7813861593"></ng-adsense>
        </div>
      </mat-card>
      <div
        fxLayout.gt-xs="row"
        fxLayout.lt-sm="column"
        fxLayoutAlign="space-between"
        fxLayoutGap="24px"
      >
        <mat-card fxFlex.gt-xs="50%" fxFlex.lt-sm="100%">
          <mat-card-title>列車を追加する</mat-card-title>
          <mat-card-content fxLayout="column" fxLayoutGap="12px">
            <p>列車データを追加できます。</p>
            <app-add-timetable-pre-form></app-add-timetable-pre-form>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex.gt-xs="50%" fxFlex.lt-sm="100%">
          <mat-card-title>運用を投稿する</mat-card-title>
          <mat-card-content>
            運用情報を投稿できます。
            <app-add-operation-sighting-form></app-add-operation-sighting-form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div>
      <mat-card fxFlex.gt-xs="300px" fxFlex.lt-lg="auto">
        <div>
          <a
            class="twitter-timeline"
            data-height="700"
            href="https://twitter.com/sotetsu_lab?ref_src=twsrc%5Etfw"
            >Tweets by sotetsu_lab</a
          >
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </mat-card>
    </div>
  </div>
</div>
