<div
    class="tw-grid tw-auto-cols-fr tw-gap-4 tw-grid-areas-dashboard-slim md:tw-grid-areas-dashboard-medium xl:tw-grid-areas-dashboard-full"
>
    <div class="tw-grid-in-description">
        <app-dashboard-description-p
            class="tw-h-full tw-w-full"
        ></app-dashboard-description-p>
    </div>

    <div class="tw-grid-in-operation-search-card">
        <app-operation-search-card-c
            class="tw-h-full tw-w-full"
        ></app-operation-search-card-c>
    </div>

    <div class="tw-grid-in-operation-post-card">
        <app-operation-post-card-c
            class="tw-h-full tw-w-full"
        ></app-operation-post-card-c>
    </div>

    <div class="tw-grid-in-timetable-search-card">
        <app-timetable-search-card-c
            class="tw-h-full tw-w-full"
        ></app-timetable-search-card-c>
    </div>

    <div class="tw-grid-in-timetable-post-card">
        <app-timetable-post-card-c
            class="tw-h-full tw-w-full"
        ></app-timetable-post-card-c>
    </div>

    <div class="tw-grid-in-library-list-card">
        <app-library-list-card-c
            class="tw-h-full tw-w-full"
        ></app-library-list-card-c>
    </div>

    <div class="tw-grid-in-adsense">
        <ng-adsense [adSlot]="7813861593"></ng-adsense>
    </div>
</div>
