<div
    gdAreas="
      description description description |
      operation-search-card operation-post-card library-list-card |
      timetable-search-card timetable-post-card library-list-card
    "
    gdGap="16px"
    gdColumns="1fr 1fr 1fr"
    gdRows="auto auto auto"
>
    <div gdArea="description">
        <app-dashboard-description-p></app-dashboard-description-p>
    </div>
    <div gdArea="operation-search-card">
        <app-operation-search-card-c></app-operation-search-card-c>
    </div>
    <div gdArea="operation-post-card">
        <app-operation-post-card-c></app-operation-post-card-c>
    </div>
    <div gdArea="timetable-search-card">ttsc</div>
    <div gdArea="timetable-post-card">ttpc</div>
    <div gdArea="library-list-card">lblc</div>
</div>
