<ng-container *rxLet="true; strategy: 'immediate'; patchZone: false">
    <article
        class="tw-box-border tw-flex tw-h-full tw-w-full tw-flex-col tw-gap-4 tw-bg-white tw-p-4 tw-shadow-md"
    >
        <header>
            <h2 class="tw-m-0 tw-text-2xl tw-font-normal">このサイトは？</h2>
        </header>
        <section class="tw-flex-grow">
            <p class="tw-m-0 tw-text-sm">
                Sotetsu Lab.
                は、神奈川県を走る大手私鉄、相模鉄道に関する情報を提供するWebサービスです。<br />
                相鉄線を走る車両の1日の動き（これを運用と呼びます）や、全駅における特定車両の発車時刻等の情報を提供しています。
            </p>
        </section>
    </article>
</ng-container>
