<mat-card fxFlex="auto">
  <mat-card-title>
    時刻表
  </mat-card-title>
  <mat-card-subtitle>
    相鉄線の時刻表を検索できます。
  </mat-card-subtitle>
  <mat-card-content>
    <form
      fxLayout="column"
      fxLayoutGap="16px"
      [formGroup]="searchTimetableForm"
    >
      <mat-form-field>
        <mat-select placeholder="ダイヤ" formControlName="calendarId">
          <mat-option
            *ngFor="let calendar of calendarsSelectList"
            [value]="calendar.value"
          >
            {{ calendar.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-radio-group
        fxLayout="row"
        fxLayoutGap="16px"
        formControlName="tripDirection"
      >
        <mat-radio-button value="0">上り</mat-radio-button>
        <mat-radio-button value="1">下り</mat-radio-button>
      </mat-radio-group>
      <div>
        <mat-slide-toggle [disabled]="true"
          >駅を指定して検索する</mat-slide-toggle
        >
      </div>
      <mat-form-field>
        <mat-select placeholder="駅名" [disabled]="true">
          <mat-optgroup
            *ngFor="let route of stationsSelectList"
            [label]="route.routeName"
          >
            <mat-option *ngFor="let station of route.stations">{{
              station.label
            }}</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" (click)="onClickSearch()">
          検索
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
