<article
  class="timetable-all-line my-24"
  [ngClass.lt-md]="['mx-16']"
  [ngClass.gt-sm]="['mx-64']"
  fxLayout="column"
  fxLayoutGap="24px"
>
  <h2 class="mat-h2">
    全線時刻表
  </h2>

  <mat-card>
    <mat-card-title> </mat-card-title>
    <mat-card-content>
      <app-timetable-all-line-table-container></app-timetable-all-line-table-container>
    </mat-card-content>
  </mat-card>

  <div style="width: 300px; height: 300px; overflow: scroll">
    <table class="timetable">
      <thead>
        <tr>
          <th>列車番号</th>
          <th><div>9999</div></th>
          <th><div>9999</div></th>
          <th><div>9999</div></th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
        </tr>
        <tr>
          <th>運用番号</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
        </tr>
        <tr>
          <th>種別</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
          <th>9999</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            駅
          </th>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
        </tr>
        <tr>
          <th>
            駅
          </th>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
        </tr>
        <tr>
          <th>
            駅
          </th>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
        </tr>
        <tr>
          <th>
            駅
          </th>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
        </tr>
        <tr>
          <th>
            駅
          </th>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
        </tr>
        <tr>
          <th>
            駅
          </th>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
        </tr>
        <tr>
          <th>
            駅
          </th>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
        </tr>
        <tr>
          <th>
            駅
          </th>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
        </tr>
        <tr>
          <th>
            駅
          </th>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
        </tr>
        <tr>
          <th>
            駅
          </th>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
        </tr>
        <tr>
          <th>
            駅
          </th>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
        </tr>
        <tr>
          <th>
            駅
          </th>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
        </tr>
        <tr>
          <th>
            駅
          </th>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
        </tr>
        <tr>
          <th>
            駅
          </th>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
        </tr>
        <tr>
          <th>
            駅
          </th>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
          <td>99:99</td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
