<article class="tw-bg-white tw-shadow-md">
    <header
        class="tw-flex tw-h-12 tw-flex-row tw-items-center tw-justify-start tw-px-4"
        [ngClass]="[isHolidayCalendar() ? 'holiday' : 'weekday']"
    >
        <h3 class="tw-text-base tw-font-normal tw-leading-5 tw-text-white">
            {{ calendar().startDate | date: 'yyyy年MM月dd日' }}
            改正<br />
            {{ calendar().calendarName }}
            {{ stationName() }}駅
            {{ tripDirectionLabel.get(tripDirection()) }}時刻表
        </h3>
    </header>
    <div class="tw-flex tw-flex-col tw-gap-4 tw-p-4">
        <div
            class="tw-flex tw-max-h-[70vh] tw-flex-col tw-overflow-y-auto tw-overflow-x-hidden"
        >
            @for (
                item of timetableData();
                track item.day + ':' + item.hour;
                let idx = $index
            ) {
                <div
                    class="tw-flex tw-flex-row tw-border-b tw-border-solid tw-border-grey-200 last:tw-border-b-0"
                    [class.tw-bg-grey-100]="idx % 2 === 1"
                >
                    <div
                        class="tw-sticky tw-left-0 tw-z-10 tw-flex tw-w-14 tw-flex-shrink-0 tw-items-center tw-justify-center tw-self-stretch tw-bg-primary-500 tw-py-2 tw-text-3xl tw-font-bold tw-text-white"
                    >
                        {{ item.hour }}
                    </div>
                    <div
                        class="tw-grid tw-min-w-0 tw-flex-1 tw-grid-cols-2 tw-content-start tw-gap-x-2 tw-gap-y-1 tw-p-2 lg:tw-grid-cols-3"
                    >
                        @for (trip of item.trips; track trip.tripId) {
                            <app-timetable-station-trip-cell
                                [trip]="trip"
                                [calendarId]="calendar().calendarId"
                                [stationId]="stationId()"
                                [tripClasses]="tripClasses()"
                                [stations]="stations()"
                                [operations]="operations()"
                                [operationSightingTimeCrossSections]="
                                    operationSightingTimeCrossSections()
                                "
                                [showCurrentFormation]="showCurrentFormation()"
                            ></app-timetable-station-trip-cell>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</article>
