<mat-card>
    <mat-card-title>
        <mat-toolbar
            [ngClass]="[
                calendar.sunday && calendar.saturday ? 'holiday' : 'weekday'
            ]"
        >
            <h3 style="line-height: 1.25">
                {{ calendar.startDate | date: 'yyyy年MM月dd日' }}
                改正<br />
                {{ calendar.calendarName }}
                {{ operation.operationNumber }}運
            </h3>
        </mat-toolbar>
    </mat-card-title>
    <mat-card-content>
        <div fxLayout="column" fxLayoutGap="24px">
            <div
                style="
                    overflow: auto;
                    width: auto;
                    height: 100%;
                    max-height: 60vh;
                "
                *ngIf="visible"
            >
                <table>
                    <thead>
                        <tr>
                            <td>
                                <svg
                                    [attr.width]="
                                        50 + stations.length * 60 + 10 + 'px'
                                    "
                                    [attr.height]="120 + 'px'"
                                >
                                    <g
                                        font-size="16"
                                        *ngFor="
                                            let station of stations;
                                            let i = index
                                        "
                                    >
                                        <text
                                            [attr.x]="
                                                i * 60 +
                                                ',' +
                                                i * 60 +
                                                ',' +
                                                i * 60 +
                                                ',' +
                                                i * 60 +
                                                ',' +
                                                i * 60 +
                                                ',' +
                                                i * 60
                                            "
                                            y="16, 16, 16, 16, 16, 16"
                                            dx="50, 50, 50, 50, 50, 50"
                                            dy="0, 20, 40, 60, 80, 100"
                                            fill="black"
                                        >
                                            {{
                                                station.stationName
                                                    | padding: { num: 6 }
                                            }}
                                        </text>
                                    </g>
                                </svg>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <svg
                                    [attr.width]="
                                        50 + stations.length * 60 + 10 + 'px'
                                    "
                                    [attr.height]="
                                        tripOperationLists.length * 40 +
                                        15 +
                                        'px'
                                    "
                                >
                                    <g
                                        font-size="16"
                                        *ngFor="
                                            let station of stations;
                                            let i = index
                                        "
                                    >
                                        <line
                                            [attr.x1]="i * 60 + 50 + 8"
                                            [attr.x2]="i * 60 + 50 + 8"
                                            y1="0"
                                            [attr.y2]="
                                                0 +
                                                tripOperationLists.length *
                                                    (40 + 16)
                                            "
                                            stroke="black"
                                            stroke-dasharray="10 7"
                                            stroke-opacity="0.12"
                                        ></line>
                                    </g>
                                    <g
                                        *ngFor="
                                            let tripOperationList of tripOperationLists;
                                            let i = index
                                        "
                                    >
                                        <text
                                            [attr.x]="
                                                tripOperationList.trip
                                                    .tripDirection === 0
                                                    ? returnStationIndex(
                                                          tripOperationList
                                                              .startTime
                                                              .stationId
                                                      ) *
                                                          60 +
                                                      60 -
                                                      47.5
                                                    : tripOperationList.trip
                                                          .tripDirection === 1
                                                    ? returnStationIndex(
                                                          tripOperationList
                                                              .endTime.stationId
                                                      ) *
                                                          60 +
                                                      60 -
                                                      47.5
                                                    : 0
                                            "
                                            [attr.y]="30 + i * 40"
                                            fill="black"
                                        >
                                            <ng-container
                                                *ngIf="
                                                    tripOperationList.trip
                                                        .tripDirection === 0
                                                "
                                            >
                                                {{
                                                    returnTimeString(
                                                        tripOperationList
                                                            .startTime
                                                            .departureTime
                                                    )
                                                }}
                                            </ng-container>
                                            <ng-container
                                                *ngIf="
                                                    tripOperationList.trip
                                                        .tripDirection === 1
                                                "
                                            >
                                                {{
                                                    returnTimeString(
                                                        tripOperationList
                                                            .endTime.arrivalTime
                                                    )
                                                }}
                                            </ng-container>
                                        </text>

                                        <text
                                            style="cursor: pointer"
                                            [attr.x]="
                                                ((returnStationIndex(
                                                    tripOperationList.startTime
                                                        .stationId
                                                ) +
                                                    returnStationIndex(
                                                        tripOperationList
                                                            .endTime.stationId
                                                    )) /
                                                    2) *
                                                    60 +
                                                60 -
                                                18
                                            "
                                            [attr.y]="30 + i * 40 - 10"
                                            fill="black"
                                            (click)="
                                                navigateTimetable(
                                                    tripOperationList.trip
                                                        .tripBlockId,
                                                    tripOperationList.trip
                                                        .tripDirection
                                                )
                                            "
                                        >
                                            {{
                                                tripOperationList.trip
                                                    .tripNumber
                                            }}
                                        </text>

                                        <line
                                            [attr.x1]="
                                                returnStationIndex(
                                                    tripOperationList.startTime
                                                        .stationId
                                                ) *
                                                    60 +
                                                50 +
                                                8
                                            "
                                            [attr.x2]="
                                                returnStationIndex(
                                                    tripOperationList.endTime
                                                        .stationId
                                                ) *
                                                    60 +
                                                50 +
                                                8
                                            "
                                            [attr.y1]="i * 40 + 30 - 5"
                                            [attr.y2]="i * 40 + 30 - 5"
                                            dy="16"
                                            [attr.stroke]="
                                                tripOperationList.trip.tripClass
                                                    .tripClassColor
                                            "
                                            [attr.stroke-dasharray]="
                                                tripOperationList.trip.tripClass
                                                    .tripClassName === '回送'
                                                    ? '5 3'
                                                    : ''
                                            "
                                            stroke-width="2px"
                                        ></line>

                                        <text
                                            [attr.x]="
                                                tripOperationList.trip
                                                    .tripDirection === 0
                                                    ? returnStationIndex(
                                                          tripOperationList
                                                              .endTime.stationId
                                                      ) *
                                                          60 +
                                                      60 +
                                                      12.5
                                                    : tripOperationList.trip
                                                          .tripDirection === 1
                                                    ? returnStationIndex(
                                                          tripOperationList
                                                              .startTime
                                                              .stationId
                                                      ) *
                                                          60 +
                                                      60 +
                                                      12.5
                                                    : 0
                                            "
                                            [attr.y]="30 + i * 40"
                                            fill="black"
                                        >
                                            <ng-container
                                                *ngIf="
                                                    tripOperationList.trip
                                                        .tripDirection === 0
                                                "
                                            >
                                                {{
                                                    returnTimeString(
                                                        tripOperationList
                                                            .endTime.arrivalTime
                                                    )
                                                }}
                                            </ng-container>
                                            <ng-container
                                                *ngIf="
                                                    tripOperationList.trip
                                                        .tripDirection === 1
                                                "
                                            >
                                                {{
                                                    returnTimeString(
                                                        tripOperationList
                                                            .startTime
                                                            .departureTime
                                                    )
                                                }}
                                            </ng-container>
                                        </text>

                                        <circle
                                            *ngIf="
                                                tripOperationList.trip.depotOut
                                            "
                                            [attr.cx]="
                                                returnStationIndex(
                                                    tripOperationList.startTime
                                                        .stationId
                                                ) *
                                                    60 +
                                                60 -
                                                2
                                            "
                                            [attr.cy]="30 + i * 40 - 5"
                                            r="8"
                                            stroke="black"
                                            fill="white"
                                            stroke-width="2px"
                                        ></circle>
                                        <polygon
                                            *ngIf="
                                                tripOperationList.trip.depotIn
                                            "
                                            [attr.points]="
                                                returnStationIndex(
                                                    tripOperationList.endTime
                                                        .stationId
                                                ) *
                                                    60 +
                                                60 -
                                                2 +
                                                ',' +
                                                (30 + i * 40 - 12) +
                                                ' ' +
                                                (returnStationIndex(
                                                    tripOperationList.endTime
                                                        .stationId
                                                ) *
                                                    60 +
                                                    60 -
                                                    10) +
                                                ',' +
                                                (30 + i * 40 + 1) +
                                                ' ' +
                                                (returnStationIndex(
                                                    tripOperationList.endTime
                                                        .stationId
                                                ) *
                                                    60 +
                                                    60 +
                                                    6) +
                                                ',' +
                                                (30 + i * 40 + 1)
                                            "
                                            stroke="black"
                                            fill="white"
                                            stroke-width="2px"
                                        ></polygon>

                                        <line
                                            *ngIf="
                                                !tripOperationList.trip.depotIn
                                            "
                                            [attr.x1]="
                                                returnStationIndex(
                                                    tripOperationList.endTime
                                                        .stationId
                                                ) *
                                                    60 +
                                                50 +
                                                8
                                            "
                                            [attr.x2]="
                                                returnStationIndex(
                                                    tripOperationList.endTime
                                                        .stationId
                                                ) *
                                                    60 +
                                                50 +
                                                8
                                            "
                                            [attr.y1]="i * 40 + 30 - 5"
                                            [attr.y2]="(i + 1) * 40 + 30 - 5"
                                            dy="16"
                                            stroke="black"
                                            stroke-width="1px"
                                        ></line>
                                    </g>
                                </svg>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button mat-raised-button color="primary" (click)="svgToPng()">
                    画像としてダウンロードする
                </button>
            </div>
        </div>

        <div style="display: none">
            <svg
                style="
                    background-color: white;
                    font-family: -apple-system, BlinkMacSystemFont, Roboto,
                        'Yu Gothic UI', '游ゴシック体', YuGothic,
                        'Yu Gothic Medium', sans-serif;
                "
                #svgElement
                [attr.width]="50 + stations.length * 60 + 10 + 'px'"
                [attr.height]="tripOperationLists.length * 40 + 160 - 20 + 'px'"
            >
                <g
                    font-size="16"
                    *ngFor="let station of stations; let i = index"
                >
                    <text
                        [attr.x]="
                            i * 60 +
                            ',' +
                            i * 60 +
                            ',' +
                            i * 60 +
                            ',' +
                            i * 60 +
                            ',' +
                            i * 60 +
                            ',' +
                            i * 60
                        "
                        y="16, 16, 16, 16, 16, 16"
                        dx="50, 50, 50, 50, 50, 50"
                        dy="0, 20, 40, 60, 80, 100"
                        fill="black"
                    >
                        {{ station.stationName | padding: { num: 6 } }}
                    </text>
                    <line
                        [attr.x1]="i * 60 + 50 + 8"
                        [attr.x2]="i * 60 + 50 + 8"
                        y1="130"
                        [attr.y2]="130 + tripOperationLists.length * (40 + 16)"
                        stroke="black"
                        stroke-dasharray="10 7"
                        stroke-opacity="0.12"
                    ></line>
                </g>
                <g
                    *ngFor="
                        let tripOperationList of tripOperationLists;
                        let i = index
                    "
                >
                    <text
                        [attr.x]="
                            tripOperationList.trip.tripDirection === 0
                                ? returnStationIndex(
                                      tripOperationList.startTime.stationId
                                  ) *
                                      60 +
                                  60 -
                                  47.5
                                : tripOperationList.trip.tripDirection === 1
                                ? returnStationIndex(
                                      tripOperationList.endTime.stationId
                                  ) *
                                      60 +
                                  60 -
                                  47.5
                                : 0
                        "
                        [attr.y]="160 + i * 40"
                        fill="black"
                    >
                        <ng-container
                            *ngIf="tripOperationList.trip.tripDirection === 0"
                        >
                            {{
                                returnTimeString(
                                    tripOperationList.startTime.departureTime
                                )
                            }}
                        </ng-container>
                        <ng-container
                            *ngIf="tripOperationList.trip.tripDirection === 1"
                        >
                            {{
                                returnTimeString(
                                    tripOperationList.endTime.arrivalTime
                                )
                            }}
                        </ng-container>
                    </text>

                    <text
                        style="cursor: pointer"
                        [attr.x]="
                            ((returnStationIndex(
                                tripOperationList.startTime.stationId
                            ) +
                                returnStationIndex(
                                    tripOperationList.endTime.stationId
                                )) /
                                2) *
                                60 +
                            60 -
                            18
                        "
                        [attr.y]="160 + i * 40 - 10"
                        fill="black"
                        (click)="
                            navigateTimetable(
                                tripOperationList.trip.tripBlockId,
                                tripOperationList.trip.tripDirection
                            )
                        "
                    >
                        {{ tripOperationList.trip.tripNumber }}
                    </text>

                    <line
                        [attr.x1]="
                            returnStationIndex(
                                tripOperationList.startTime.stationId
                            ) *
                                60 +
                            50 +
                            8
                        "
                        [attr.x2]="
                            returnStationIndex(
                                tripOperationList.endTime.stationId
                            ) *
                                60 +
                            50 +
                            8
                        "
                        [attr.y1]="i * 40 + 160 - 5"
                        [attr.y2]="i * 40 + 160 - 5"
                        dy="16"
                        [attr.stroke]="
                            tripOperationList.trip.tripClass.tripClassColor
                        "
                        [attr.stroke-dasharray]="
                            tripOperationList.trip.tripClass.tripClassName ===
                            '回送'
                                ? '5 3'
                                : ''
                        "
                        stroke-width="2px"
                    ></line>

                    <text
                        [attr.x]="
                            tripOperationList.trip.tripDirection === 0
                                ? returnStationIndex(
                                      tripOperationList.endTime.stationId
                                  ) *
                                      60 +
                                  60 +
                                  12.5
                                : tripOperationList.trip.tripDirection === 1
                                ? returnStationIndex(
                                      tripOperationList.startTime.stationId
                                  ) *
                                      60 +
                                  60 +
                                  12.5
                                : 0
                        "
                        [attr.y]="160 + i * 40"
                        fill="black"
                    >
                        <ng-container
                            *ngIf="tripOperationList.trip.tripDirection === 0"
                        >
                            {{
                                returnTimeString(
                                    tripOperationList.endTime.arrivalTime
                                )
                            }}
                        </ng-container>
                        <ng-container
                            *ngIf="tripOperationList.trip.tripDirection === 1"
                        >
                            {{
                                returnTimeString(
                                    tripOperationList.startTime.departureTime
                                )
                            }}
                        </ng-container>
                    </text>

                    <circle
                        *ngIf="tripOperationList.trip.depotOut"
                        [attr.cx]="
                            returnStationIndex(
                                tripOperationList.startTime.stationId
                            ) *
                                60 +
                            60 -
                            2
                        "
                        [attr.cy]="160 + i * 40 - 5"
                        r="8"
                        stroke="black"
                        fill="white"
                        stroke-width="2px"
                    ></circle>
                    <polygon
                        *ngIf="tripOperationList.trip.depotIn"
                        [attr.points]="
                            returnStationIndex(
                                tripOperationList.endTime.stationId
                            ) *
                                60 +
                            60 -
                            2 +
                            ',' +
                            (160 + i * 40 - 12) +
                            ' ' +
                            (returnStationIndex(
                                tripOperationList.endTime.stationId
                            ) *
                                60 +
                                60 -
                                10) +
                            ',' +
                            (160 + i * 40 + 1) +
                            ' ' +
                            (returnStationIndex(
                                tripOperationList.endTime.stationId
                            ) *
                                60 +
                                60 +
                                6) +
                            ',' +
                            (160 + i * 40 + 1)
                        "
                        stroke="black"
                        fill="white"
                        stroke-width="2px"
                    ></polygon>

                    <line
                        *ngIf="!tripOperationList.trip.depotIn"
                        [attr.x1]="
                            returnStationIndex(
                                tripOperationList.endTime.stationId
                            ) *
                                60 +
                            50 +
                            8
                        "
                        [attr.x2]="
                            returnStationIndex(
                                tripOperationList.endTime.stationId
                            ) *
                                60 +
                            50 +
                            8
                        "
                        [attr.y1]="i * 40 + 160 - 5"
                        [attr.y2]="(i + 1) * 40 + 160 - 5"
                        dy="16"
                        stroke="black"
                        stroke-width="1px"
                    ></line>
                </g>
            </svg>
        </div>
    </mat-card-content>
</mat-card>
