<!-- 角型タグ（mockup 準拠。群色地・黒文字・可変幅）。無効化時は赤枠（borderEnabled）。 -->
<div
    class="tw-inline-flex tw-h-7 tw-min-w-9 tw-items-center tw-justify-center tw-rounded tw-text-sm tw-leading-none"
    [style.background-color]="bgColor()"
    [class.tw-border-2]="borderEnabled()"
    [class.tw-border-solid]="borderEnabled()"
    [style.border-color]="borderColor()"
>
    <a
        class="tw-flex tw-h-full tw-w-full tw-items-center tw-justify-center tw-rounded tw-px-1.5 tw-text-black"
        [class.tw-no-underline]="textStyle() !== 'underline'"
        [class.tw-font-bold]="textStyle() === 'bold'"
        [class.tw-underline]="textStyle() === 'underline'"
        [class.hover:tw-bg-grey-500]="link() !== undefined"
        [class.hover:tw-bg-opacity-20]="link() !== undefined"
        [routerLink]="link()"
        [matContextMenuTriggerFor]="menu"
        [matContextMenuTriggerDisabled]="
            contextMenus() === undefined || contextMenus()?.length === 0
        "
    >
        {{ text() }}
    </a>
</div>

<mat-menu #menu="matMenu">
    @for (menu of contextMenus(); track $index) {
        <button
            mat-menu-item
            [disabled]="menu.disabled"
            (click)="menu.onClick()"
        >
            <mat-icon>{{ menu.icon }}</mat-icon>
            <span>{{ menu.text }}</span>
        </button>
    }
</mat-menu>
