:host {
  .operation-sighting-table {
    overflow-x: auto;

    table {
      width: 100%;

      .mat-column-operationNumber {
        //width: 36px;
        min-width: 48px;
      }

      .mat-column-formationNumber {
        //width: 48px;
        min-width: 48px;
      }

      .mat-column-trip {
        //width: 192px;
        //max-width: 192px;
        min-width: 192px;
        font-size: 12px;
        .mat-icon {
          font-size: 16px;
          width: 16px;
          height: 16px;
        }
      }

      .mat-column-sightingTime,
      .mat-column-updateTime {
        min-width: 80px;
      }

      .operation-number-circle {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        position: relative;
        a {
          cursor: pointer;
        }
        a,
        div {
          position: absolute;
          top: 0;
          left: 0;
          width: inherit;
          height: inherit;
          border-radius: inherit;
          text-decoration: none;
          color: rgba(0, 0, 0, 0.87);
        }
        a:hover {
          background: rgba(255, 255, 255, 0.36);
        }
      }

      .unknown {
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }
}
