:host {
    .formation {
        table {
            border-collapse: collapse;
            border: 1px solid #e0e0e0;

            th,
            td {
                border-top: 1px solid #e0e0e0;
                border-right: 1px solid #e0e0e0;
            }

            th {
                height: 48px;
                padding: 8px;
            }

            td {
                height: 36px;
                padding: 8px;
                text-align: center;
            }
        }
    }

    .operation-sighting-by-date {
        overflow-x: auto;
        will-change: scroll-position;
        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #e0e0e0;

            th,
            td {
                border-top: 1px solid #e0e0e0;
                border-right: 1px solid #e0e0e0;
            }

            th {
                height: 48px;
                white-space: nowrap;
                padding: 8px;
            }

            td {
                height: 36px;
                padding: 8px;
            }

            .operation-number-circle {
                width: 36px;
                height: 36px;
                border-radius: 50%;

                & > a {
                    cursor: pointer;
                }

                & > a,
                & > div {
                    width: inherit;
                    height: inherit;
                    border-radius: inherit;
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.87);
                }

                & > a:hover {
                    background: rgba(255, 255, 255, 0.36);
                }
            }
        }
    }
}
