:host {
  table,
  tr,
  th,
  td {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
  }

  th,
  td {
    font-size: 16px;
    height: 24px;
    line-height: 1;
  }

  .stations-table {
    border: 1px solid #e0e0e0;
    th {
      border: 1px solid #e0e0e0;
    }

    .station-name {
      padding-left: 4px;
      padding-right: 4px;
      text-align: right;
    }

    .border-top {
      border-top: 1px solid #e0e0e0;
    }
    .border-bottom {
      border-bottom: 1px solid #e0e0e0;
    }
    /*
    td {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
    }
    */
  }

  .trips-table {
    table-layout: fixed;
    border: 1px solid #e0e0e0;

    th,
    td {
      min-width: 48px;
      max-width: 48px;
      text-align: center;
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
    }
    .border-bottom {
      border-bottom: 1px solid #e0e0e0;
    }

    th {
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
    }

    tfoot {
      border-top: 1px solid #e0e0e0;
    }
  }
}
