<div fxLayout="row">
  <table class="stations-table" fxFlex="0 0 120px">
    <thead>
      <tr>
        <th colspan="2">列車番号</th>
      </tr>
      <tr>
        <th colspan="2">運用番号</th>
      </tr>
      <tr>
        <th colspan="2">種別</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let station of stations">
        <tr
          *ngIf="
            station.viewMode === staitonViewMode.DEPARTURE_AND_ARRIVAL ||
            (tripDirection === '0' &&
              station.viewMode === staitonViewMode.ONLY_INBOUND_ARRIVAL) ||
            (tripDirection === '1' &&
              station.viewMode === staitonViewMode.ONLY_OUTBOUND_ARRIVAL)
          "
        >
          <td
            [rowSpan]="
              station.viewMode === staitonViewMode.DEPARTURE_AND_ARRIVAL ? 2 : 1
            "
          >
            {{ station.stationName }}
          </td>
          <td>着</td>
        </tr>
        <tr
          *ngIf="
            station.viewMode === staitonViewMode.DEPARTURE_AND_ARRIVAL ||
            station.viewMode === staitonViewMode.ONLY_DEPARTURE
          "
        >
          <td *ngIf="station.viewMode === staitonViewMode.ONLY_DEPARTURE">
            {{ station.stationName }}
          </td>
          <td>発</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
