<form [formGroup]="searchParam" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutGap="12px" style="margin-top: 12px">
    <div fxLayout="row">
      <mat-form-field fxFlex="auto">
        <mat-label>ダイヤ</mat-label>
        <mat-select formControlName="dia">
          <mat-option *ngFor="let calender of calenders" [value]="calender.id">
            {{ calender.start_date | myDate: 'YYYY年MM月DD日' }} 改正
            {{ calender.calender_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style="padding-bottom: 12px">
      <mat-radio-group formControlName="direction">
        <mat-radio-button value="up"> 上り </mat-radio-button>
        <mat-radio-button value="down"> 下り </mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <mat-slide-toggle (change)="changeSearchByStation($event)">
        駅を指定して検索する
      </mat-slide-toggle>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex="auto">
        <mat-label>駅名</mat-label>
        <mat-select formControlName="station">
          <mat-optgroup
            *ngFor="let route of routesStations"
            [label]="route.route_name"
          >
            <mat-option
              *ngFor="let routeStation of route.route_station_lists"
              [value]="routeStation.station.id"
              >{{ routeStation.station.station_name }}</mat-option
            >
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" [disabled]="!searchParam.valid">
        検索
      </button>
    </div>
  </div>
</form>
