@if (filteredFormations().length === 0) {
    <app-empty-state
        icon="filter_alt_off"
        message="条件に一致する編成がありません"
    ></app-empty-state>
} @else {
    <div class="tw-grid tw-grid-cols-1 tw-gap-3 lg:tw-grid-cols-2">
        @for (
            formation of filteredFormations();
            track formation.formationId
        ) {
            <app-operation-real-time-formation-card
                [formation]="formation"
                [timeCrossSection]="
                    queryTimeCrossSectionByFormationNumber(
                        formation.formationNumber
                    )()
                "
                [histories]="
                    queryHistoriesByFormationNumber(
                        formation.formationNumber
                    )()
                "
                [currentPosition]="
                    queryCurrentPositionByFormationNumber(
                        formation.formationNumber
                    )()
                "
                [operations]="operations() ?? []"
                [agencies]="agencies()"
                [stations]="stations() ?? []"
                [tripClasses]="tripClasses() ?? []"
                [calendarId]="calendar()?.calendarId"
                [isVisibleSightingHistories]="isVisibleSightingHistories()"
                [isVisibleCurrentPosition]="isVisibleCurrentPosition()"
            ></app-operation-real-time-formation-card>
        }
    </div>
}
