// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sotetsu-lab-v3-client-primary: mat-palette(
  (
    50: #e0e3eb,
    100: #b3b9cc,
    200: #808aab,
    300: #4d5b89,
    400: #26386f,
    500: #001556,
    600: #00124f,
    700: #000f45,
    800: #000c3c,
    900: #00062b,
    A100: #656bff,
    A200: #323aff,
    A400: #000afe,
    A700: #0009e5,
    contrast: (
      50: $black-87-opacity,
      100: $black-87-opacity,
      200: $black-87-opacity,
      300: white,
      400: white,
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: white,
      A200: white,
      A400: white,
      A700: white
    )
  )
);
$sotetsu-lab-v3-client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sotetsu-lab-v3-client-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$sotetsu-lab-v3-client-theme: mat-light-theme(
  $sotetsu-lab-v3-client-primary,
  $sotetsu-lab-v3-client-accent,
  $sotetsu-lab-v3-client-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sotetsu-lab-v3-client-theme);
