/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-drawer-container {
  height: calc(100% - 64px);
}

.mat-tab-group {
  margin-left: -24px;
  margin-right: -24px;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.mat-dialog-container {
  max-height: calc(100vh - 48px) !important;
}
