// tailwindcss
@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

// Custom Theming for Angular Material
@use '@angular/material' as mat;

$sotetsu-lab-v3-client-primary: mat.define-palette(
    (
        50: #e0e3eb,
        100: #b3b9cc,
        200: #808aab,
        300: #4d5b89,
        400: #26386f,
        500: #001556,
        600: #00124f,
        700: #000f45,
        800: #000c3c,
        900: #00062b,
        A100: #656bff,
        A200: #323aff,
        A400: #000afe,
        A700: #0009e5,
        contrast: (
            50: rgba(black, 0.87),
            100: rgba(black, 0.87),
            200: rgba(black, 0.87),
            300: white,
            400: white,
            500: white,
            600: white,
            700: white,
            800: white,
            900: white,
            A100: white,
            A200: white,
            A400: white,
            A700: white,
        ),
    )
);
$sotetsu-lab-v3-client-accent: mat.define-palette(
    (
        50: #fdefe7,
        100: #fad7c2,
        200: #f7bd9a,
        300: #f3a372,
        400: #f18f53,
        500: #ee7b35,
        600: #ec7330,
        700: #e96828,
        800: #e75e22,
        900: #e24b16,
        A100: #ffffff,
        A200: #ffe7e0,
        A400: #ffbfad,
        A700: #ffac93,
        contrast: (
            50: rgba(black, 0.87),
            100: rgba(black, 0.87),
            200: rgba(black, 0.87),
            300: rgba(black, 0.87),
            400: rgba(black, 0.87),
            500: rgba(black, 0.87),
            600: rgba(black, 0.87),
            700: rgba(black, 0.87),
            800: rgba(black, 0.87),
            900: white,
            A100: rgba(black, 0.87),
            A200: rgba(black, 0.87),
            A400: rgba(black, 0.87),
            A700: rgba(black, 0.87),
        ),
    )
);
$sotetsu-lab-v3-client-warn: mat.define-palette(mat.$red-palette);

// @import url('https://fonts.googleapis.com/css?family=Quicksand');
// @import url('https://fonts.googleapis.com/css?family=Material+Icons');

$sotetsu-lab-v3-client-font-family: 'Helvetica Neue', Arial,
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'BIZ UDPGothic', Meiryo,
    sans-serif;

// -apple-system, BlinkMacSystemFont, Roboto, 'Yu Gothic UI',
//     '游ゴシック体', YuGothic, 'Yu Gothic Medium', sans-serif;

$sotetsu-lab-v3-client-typography: mat.define-typography-config(
    $font-family: $sotetsu-lab-v3-client-font-family,
    $headline-6: mat.define-typography-level(20px, 32px, 400),
);

$sotetsu-lab-v3-client-theme: mat.define-light-theme(
    (
        color: (
            primary: $sotetsu-lab-v3-client-primary,
            accent: $sotetsu-lab-v3-client-accent,
            warn: $sotetsu-lab-v3-client-warn,
        ),
        typography: $sotetsu-lab-v3-client-typography,
        density: 0,
    )
);

@include mat.core();
@include mat.all-component-themes($sotetsu-lab-v3-client-theme);
@include mat.all-component-typographies($sotetsu-lab-v3-client-typography);

// カスタムCSS
// @import 'app/general/styles/margin.scss';
// @import 'app/general/styles/padding.scss';

// html,
// body {
//     height: 100%;
// }

body {
    margin: 0;
    font-family: $sotetsu-lab-v3-client-font-family;
    font-feature-settings: 'pkna';
}

.mat-sidenav {
    width: 250px;
}

.mat-sidenav-content {
    width: 100vw;
    height: calc(100vh - 64px) !important;
    will-change: transform;
}

.mat-card {
    border-radius: unset !important;
}

@media (max-width: 599px) {
    .mat-sidenav-content {
        height: calc(100vh - 56px) !important;
    }
}

.adsbygoogle {
    text-align: center;
}

.weekday {
    background: rgb(66, 139, 202) !important;
}

.holiday {
    background: rgb(217, 83, 79) !important;
}
