<section class="mx-12">
  <header>
    <h4
      class="py-8"
      [ngStyle]="{
        background: getOperationNumberColor(operationTrips.operationNumber)
      }"
    >
      <a routerLink="/operation/route-diagram/{{ operationTrips.id }}">
        {{ operationTrips.operationNumber }}
      </a>
    </h4>
  </header>
  <div role="main">
    <ng-container
      *ngFor="
        let tripOperationList of operationTrips.tripOperationLists;
        let i = index
      "
    >
      <div fxLayout="row">
        <ng-container *ngIf="tripOperationList.trip.tripDirection === 0">
          <span *ngIf="tripOperationList.trip.depotOut">○</span>
          <span *ngIf="!tripOperationList.trip.depotOut">┗</span>
        </ng-container>

        <ng-container *ngIf="tripOperationList.trip.tripDirection === 1">
          <span *ngIf="tripOperationList.trip.depotIn">△</span>
          <span *ngIf="!tripOperationList.trip.depotIn">┏</span>
        </ng-container>

        <ng-container *ngIf="tripOperationList.trip.tripDirection === 0">
          <span class="station-name">
            {{ findStationName(tripOperationList.trip.times[0].stationId) }}
          </span>
          <span class="monoscape">
            <ng-container *ngIf="tripOperationList.trip.times[0].departureTime">
              {{
                convertTimeToDateObject(
                  tripOperationList.trip.times[0].departureTime
                ) | date: "HHmm"
              }}
            </ng-container>
            <ng-container
              *ngIf="!tripOperationList.trip.times[0].departureTime"
            >
              &nbsp;&nbsp;&nbsp;&nbsp;
            </ng-container>
          </span>
          <span>→</span>
        </ng-container>
        <ng-container *ngIf="tripOperationList.trip.tripDirection === 1">
          <span class="station-name">
            {{
              findStationName(
                tripOperationList.trip.times[
                  tripOperationList.trip.times.length - 1
                ].stationId
              )
            }}
          </span>
          <span class="monoscape">
            <ng-container
              *ngIf="
                tripOperationList.trip.times[
                  tripOperationList.trip.times.length - 1
                ].arrivalTime
              "
            >
              {{
                convertTimeToDateObject(
                  tripOperationList.trip.times[
                    tripOperationList.trip.times.length - 1
                  ].arrivalTime
                ) | date: "HHmm"
              }}
            </ng-container>
            <ng-container
              *ngIf="
                !tripOperationList.trip.times[
                  tripOperationList.trip.times.length - 1
                ].arrivalTime
              "
            >
              &nbsp;&nbsp;&nbsp;&nbsp;
            </ng-container>
          </span>
          <span>←</span>
        </ng-container>

        <a
          style="width: 5em; text-align:center"
          [routerLink]="[
            '/',
            'timetable',
            calendar.id,
            'all-line',
            {
              trip_direction: tripOperationList.trip.tripDirection,
              trip_block_id: tripOperationList.trip.tripBlockId
            }
          ]"
        >
          <span
            class="trip-class-name"
            [ngStyle]="{
              color: findTripClassColor(tripOperationList.trip.tripClassId)
            }"
            >{{ findTripClassName(tripOperationList.trip.tripClassId) }}</span
          >
          <span
            class="monoscape"
            [ngStyle]="{
              color: findTripClassColor(tripOperationList.trip.tripClassId)
            }"
            >{{ tripOperationList.trip.tripNumber }}</span
          >
        </a>

        <ng-container *ngIf="tripOperationList.trip.tripDirection === 0">
          <span>→</span>
          <span class="monoscape">
            <ng-container
              *ngIf="
                tripOperationList.trip.times[
                  tripOperationList.trip.times.length - 1
                ].arrivalTime
              "
            >
              {{
                convertTimeToDateObject(
                  tripOperationList.trip.times[
                    tripOperationList.trip.times.length - 1
                  ].arrivalTime
                ) | date: "HHmm"
              }}
            </ng-container>
            <ng-container
              *ngIf="
                !tripOperationList.trip.times[
                  tripOperationList.trip.times.length - 1
                ].arrivalTime
              "
            >
              &nbsp;&nbsp;&nbsp;&nbsp;
            </ng-container>
          </span>
          <span class="station-name">
            {{
              findStationName(
                tripOperationList.trip.times[
                  tripOperationList.trip.times.length - 1
                ].stationId
              )
            }}
          </span>
        </ng-container>
        <ng-container *ngIf="tripOperationList.trip.tripDirection === 1">
          <span>←</span>
          <span class="monoscape">
            <ng-container *ngIf="tripOperationList.trip.times[0].departureTime">
              {{
                convertTimeToDateObject(
                  tripOperationList.trip.times[0].departureTime
                ) | date: "HHmm"
              }}
            </ng-container>
            <ng-container
              *ngIf="!tripOperationList.trip.times[0].departureTime"
            >
              &nbsp;&nbsp;&nbsp;&nbsp;
            </ng-container>
          </span>
          <span class="station-name">
            {{ findStationName(tripOperationList.trip.times[0].stationId) }}
          </span>
        </ng-container>

        <ng-container *ngIf="tripOperationList.trip.tripDirection === 0">
          <span *ngIf="tripOperationList.trip.depotIn">△</span>
          <span *ngIf="!tripOperationList.trip.depotIn">┓</span>
        </ng-container>

        <ng-container *ngIf="tripOperationList.trip.tripDirection === 1">
          <span *ngIf="tripOperationList.trip.depotOut">○</span>
          <span *ngIf="!tripOperationList.trip.depotOut">┛</span>
        </ng-container>
      </div>
      <div
        *ngIf="
          tripOperationList.trip.tripDirection ===
            (operationTrips?.tripOperationLists)[i + 1]?.trip?.tripDirection &&
          !tripOperationList.trip.depotIn &&
          !(operationTrips?.tripOperationLists)[i + 1]?.trip?.depotOut
        "
      >
        <ng-container *ngIf="tripOperationList.trip.tripDirection === 0">
          <span>┏</span>
        </ng-container>
        <ng-container *ngIf="tripOperationList.trip.tripDirection === 1">
          <span>┗</span>
        </ng-container>
        <span>━━━━━━━━━━━━━━━━━━━</span>
        <ng-container *ngIf="tripOperationList.trip.tripDirection === 0">
          <span>┛</span>
        </ng-container>
        <ng-container *ngIf="tripOperationList.trip.tripDirection === 1">
          <span>┓</span>
        </ng-container>
      </div>
    </ng-container>
  </div>
</section>
