:host {
    section {
        width: 294px;
    }
    h4 {
        text-align: center;
    }
    span.monoscape {
        font-feature-settings: 'hwid' on;
    }
    span.station-name {
        width: 5em;
        font-feature-settings: initial;
        text-align: center;
    }
    span.trip-class-name {
        width: 2em;
        font-feature-settings: initial;
        text-align: center;
    }
}
