@use '~@angular/material' as mat;

:host {
    h3,
    h4,
    h5 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    .deep-orange {
        color: mat.get-color-from-palette(mat.define-palette(mat.$deep-orange-palette));
    }

    .red {
        color: mat.get-color-from-palette(mat.define-palette(mat.$red-palette));
    }

    .teal {
        color: mat.get-color-from-palette(mat.define-palette(mat.$teal-palette), 400);
    }

    .blue {
        color: mat.get-color-from-palette(mat.define-palette(mat.$blue-palette), 800);
    }

    .indigo {
        color: mat.get-color-from-palette(mat.define-palette(mat.$indigo-palette), 900);
    }

    table.formation {
        td {
            white-space: nowrap;
            padding: 2px 4px;

            &:not(.description) {
                border-top: 1px solid;
                border-bottom: 1px solid;
                border-left: 1px solid;
                border-right: 1px solid;
            }
        }

        td.left-controller {
            border-left: 3px double !important;
        }

        td.right-controller {
            border-right: 3px double !important;
        }
    }
}
