<article fxLayout="column" fxLayoutGap="24px">
    <header>
        <h2 class="mat-h2">ダイヤを選択する</h2>
    </header>
    <div fxLayout="column" fxLayoutGap="16px">
        <p>ダイヤを選択してください。</p>
        <mat-form-field>
            <mat-select [(ngModel)]="calendar">
                <mat-option [value]="'27792766-0031-4b89-9c32-23eea267cbbc'">
                    2021年10月JR渋谷駅工事臨時ダイヤ
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="center">
            <button mat-raised-button color="primary" (click)="clickSelect()">
                選択する
            </button>
        </div>
    </div>
</article>
