<mat-card>
    <mat-card-title>
        運用表を検索する
    </mat-card-title>
    <mat-card-subtitle>
        各ダイヤの運用表を検索できます。
    </mat-card-subtitle>
    <mat-card-content>
        <form [formGroup]="searchForm" fxLayout="column" fxLayoutGap="16px">
            <mat-form-field>
                <mat-select placeholder="ダイヤ" formControlName="calendarId">
                    <mat-option
                        *ngFor="let calendar of calendarSelectList"
                        [value]="calendar.value"
                        >{{ calendar.label }}</mat-option
                    >
                </mat-select>
                <mat-error
                    *ngIf="searchForm.get('calendarId').hasError('required')"
                >
                    <strong>必須項目</strong>です
                </mat-error>
            </mat-form-field>
            <div>
                <button
                    mat-raised-button
                    color="primary"
                    [disabled]="!searchForm.valid"
                    (click)="onClickSearch()"
                >
                    検索する
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
