<section
    class="operation-past-time my-24"
    [ngClass.lt-md]="['mx-16']"
    [ngClass.gt-sm]="['mx-64']"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <header>
        <h2 class="mat-h2">
            過去の運用情報
        </h2>
    </header>
    <div role="main">
        <app-operation-sightings-search-form-container></app-operation-sightings-search-form-container>
        <app-operation-sightings-table-by-date-container></app-operation-sightings-table-by-date-container>
    </div>
</section>
