<form [formGroup]="addTimetablePreForm" (ngSubmit)="onSubmit()">
  <div
    fxLayout="column"
    fxLayoutGap="12px"
    style="margin-top: 12px; margin-bottom:12px"
  >
    <div>
      <mat-form-field>
        <mat-label>ダイヤ</mat-label>
        <mat-select formControlName="dia">
          <mat-option *ngFor="let calender of calenders" [value]="calender.id">
            {{ calender.start_date | myDate: 'YYYY年MM月DD日' }} 改正
            {{ calender.calender_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-radio-group formControlName="direction">
        <mat-label> 方向 </mat-label>
        <mat-radio-button value="up"> 上り </mat-radio-button>
        <mat-radio-button value="down"> 下り </mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <button mat-raised-button color="primary">列車情報入力へ移る</button>
    </div>
    {{ addTimetablePreForm.value.dia }}
  </div>
</form>
